
    <!--//////////////////////----------->
    <!--//////////////////////----------->
    <!--//////////////////////----------->
    <!--         Menu         ----------->
    <!--//////////////////////----------->
    <!--//////////////////////----------->
    <!--//////////////////////----------->
    <div class="row_cute">
        <div class="menu_planes_contenedor cute-6-phone left">
            <div class="row_cute">
                <div class="row_cute">
                    <a href="mi_plan.html">
                        <div class="menu_planes_botones cute-3-phone left">
                            <p>Mi Plan</p>
                        </div>
                    </a>
                    <a href="mensuales.html">
                        <div class="menu_planes_botones cute-3-phone left">
                            <p>Planes Mensuales</p>
                        </div>
                    </a>
                    <a href="factura.html">
                        <div class="menu_planes_botones cute-3-phone left">
                            <p>Planes por Factura</p>
                        </div>
                    </a>
                    <a href="metodo_pago.html">
                        <div class="menu_planes_botones cute-3-phone left active_button">
                            <p>Opciones de Pago</p>
                        </div>
                    </a>
                    </a>
                </div>
            </div>
        </div>
    </div>



    <div class="cute-6-phone">
        <!--//////////////////////----------->
        <!--//////////////////////----------->
        <!--//////////////////////----------->
        <!--    Estado De Cuenta       ------>
        <!--//////////////////////----------->
        <!--//////////////////////----------->
        <!--//////////////////////----------->
        <div class="row_cute">
            <div class="cute-10-phone cute-1-phone-offset left">
                <div id="plan_header_actual">Tu Compra</div>
                <div style="width: 580px!important;">
                    <div class="row_cute">
                        <div id="plan_plan_precio_titulo" class="cute-9-phone left plan_input_titulo">Plan Básico</div>
                        <div id="plan_plan_precio_input" class="cute-3-phone right plan_input_titulo">$99.00</div>
                    </div>
                    <div class="row_cute" id="plan_adminSAT_revela">
                        <div id="plan_plan_admin_titulo" class="cute-9-phone left plan_input_subtitulo" style="color:#FDB24C;">AdminSAT</div>
                        <div id="plan_plan_admin_input" class="cute-3-phone right plan_input_subtitulo" style="color:#FDB24C;">$99.00</div>
                    </div>
                    <div class="row_cute">
                        <div id="plan_plan_adicionales_titulo" class="cute-9-phone left plan_input_subtitulo">Importe facturas adicionales</div>
                        <div id="plan_plan_adicionales_input" class="cute-3-phone right plan_input_subtitulo">$0.00</div>
                    </div>
                    <div class="row_cute">
                        <div id="plan_plan_extras_titulo" class="cute-9-phone left plan_input_subtitulo">Importe días extras</div>
                        <div id="plan_plan_extras_input" class="cute-3-phone right plan_input_subtitulo">$0.00</div>
                    </div>
                    <div class="row_cute">
                        <div id="plan_plan_uadicionales_titulo" class="cute-9-phone left plan_input_subtitulo">Usuarios Adicionales</div>
                        <div id="plan_plan_uadicionales_input" class="cute-3-phone right plan_input_subtitulo">$ <span id="plan_precio_usuarios">0.00</span> </div>
                    </div>
                    <div class="row_cute">
                        <div id="plan_plan_subtotal_titulo" class="cute-9-phone left plan_input_subtitulo">Subtotal</div>
                        <div id="plan_plan_subtotal_input" class="cute-3-phone right plan_input_subtitulo">$99.00</div>
                    </div>
                    <div class="row_cute">
                        <div id="plan_plan_iva_titulo" class="cute-9-phone left plan_input_subtitulo">IVA</div>
                        <div id="plan_plan_iva_input" class="cute-3-phone right plan_input_subtitulo">$16.00</div>
                    </div>
                    <div class="row_cute">
                        <div id="plan_plan_saldo_titulo" class="cute-9-phone left plan_input_subtitulo">Saldo Pendiente</div>
                        <div id="plan_plan_saldo_input" class="cute-3-phone right plan_input_subtitulo">$0.00</div>
                    </div>
                    <img src="img/line.png" width="100%" alt="line">
                    <div class="row_cute">
                        <div id="plan_plan_total_titulo" class="cute-9-phone left plan_input_subtitulo">Total</div>
                        <div id="plan_plan_total_input" class="cute-3-phone right plan_input_titulo">$114.00</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row_cute" style="width: 400px!important;">
            <div style="margin-top:70px;" class="row_cute">
                <div class="col-12-phone">
                    <center>
                        <h3 style="  font-family : Ubuntu;
                    font-weight : bold;
                    font-size : 22px;
                    color : #fdb24c;
                    color : #fdb24c">¡Agrega increíbles opciones a tu plan!</h3>
                    </center>
                </div>
            </div>
            <div class="opciones_plan row_cute">
                <center>
                    <div class="contenedor_fila col-12-phone">
                        <img width='40px' src="img/icono_mano.png" alt="">
                        <h4>Oferta <br> Especial</h4>

                        <span style="        display: inline-block;
                    position: relative;
                    left: 20px;">Paga 11 meses <br> y recibe uno gratis</span>

                        <label class="switch_orange">
            <input type="checkbox">
            <span class="slider_orange round"></span>
          </label>
                    </div>
                </center>
            </div>
            <center>
                <hr class="plan_line">
            </center>
            <div class="opciones_plan row_cute">
                <center>
                    <div class="contenedor_fila col-12-phone">
                        <img width='40px' src="img/icono_Admin.png" alt="">
                        <h4 style="bottom:10px;">AdminSAT</h4>
                        <span style="margin-right:-45px;">Sincroniza, administra <br> y controla tus CFDIs</span>
                        <label class="switch_orange">
            <input type="checkbox">
            <span class="slider_orange slider_reveal round"></span>
          </label>
                    </div>
                </center>
            </div>
            <center>
                <hr class="plan_line">
            </center>
            <div class="opciones_plan row_cute">
                <center>
                        <div class="contenedor_fila col-12-phone">

                            <img class='reposicion_usuario_adicional_icono' src="img/icono_persona_inactivo.png" alt="">

                            <h4 class='reposicion_usuario_adicional_usuario' style="display:inline-block;">Usuarios <br>Adicionales</h4>

                            <div class="reposicion_usuario_adicional_notplus" style="display:inline-block;">
                                <img src="img/-.png" alt="">
                            </div>

                            <div class="reposicion_usuario_adicional_text" style="display:inline-block;">
                                <span> <input value="0" id="usuarios_adicionales" type="text"></span>
                            </div>

                            <div class="reposicion_usuario_adicional" style="display:inline-block;">
                                <img src="img/+.png" alt="">
                            </div>


                        </div>
                    </a>
                </center>
            </div>

        </div>
    </div>
    <style>
        .opciones_plan h4 {
            font-family: Ubuntu;
            font-weight: bold;
            font-size: 18px;
            color: #FDB24C;
        }

        .opciones_plan span {
            font-family: Ubuntu;
            font-weight: bold;
            font-size: 13px;
            line-height: 15.81px;
            letter-spacing: 0.03px;
            color: #7F7F7F;
            color: rgb(127, 127, 127);
        }
    </style>

    <div class="cute-6-phone" style="width: 679px!important;">
        <div class="row_cute">


            <div class="cute-12-phone">
                <!--/////////////////-->
                <!--/////////////////-->
                <!--/////////////////-->
                <!-- TARJETA CREDITO -->
                <!-- TARJETA CREDITO -->
                <!-- TARJETA CREDITO -->
                <!-- TARJETA CREDITO -->
                <!--/////////////////-->
                <!--/////////////////-->
                <!--/////////////////-->
                <div id="seccion_tarjeta_label" class="seccion_pago_plan">
                    <p>Pago con Tarjeta de Crédito/Débito</p>
                    <img id="img_arrow_credito" src="img/right-arrow (2).svg" alt="">

                    <div id="contenedor_botones_tarjeta">
                        <div id="plan_contenedor_tarjeta">
                            <div style="margin-bottom:25px;" class="row_cute">
                                <div class="col-12-phone">
                                    <div class="plan_tarjeta">
                                        <div class="row_cute">
                                            <div class="col-6-latop right">
                                                <dizv id="s_code_plan">
                                                    <center>
                                                        <h5>Código de Seguridad</h5>
                                                    </center>
                                                    <center>
                                                        <input maxlength="4" class="input_tarjeta" onKeyPress="return event.charCode >= 48 && event.charCode <= 57;" type="text">
                                                    </center>
                                                </dizv>
                                            </div>
                                        </div>
                                        <div class="row_cute">
                                            <div class="col-12-latop">
                                                <div id="num_tarjeta_plan">
                                                    <h5>Número de Tarjeta</h5>
                                                    <input id="cuatro_dig_1" maxlength="4" class="input_tarjeta" onKeyPress="return event.charCode >= 48 && event.charCode <= 57;" type="text"> <span>-</span>
                                                    <input id="cuatro_dig_2" maxlength="4" class="input_tarjeta" onKeyPress="return event.charCode >= 48 && event.charCode <= 57;" type="text"> <span>-</span>
                                                    <input id="cuatro_dig_3" maxlength="4" class="input_tarjeta" onKeyPress="return event.charCode >= 48 && event.charCode <= 57;" type="text">
                                                    <span id="guion_4dig">-</span>
                                                    <input id="cuatro_dig_4" maxlength="4" class="input_tarjeta" onKeyPress="return event.charCode >= 48 && event.charCode <= 57;" type="text">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row_cute">
                                            <div class="col-12-latop">
                                                <div id="nombre_tarjetahabiente">
                                                    <h5>Nombre de TarjetaHabiente</h5>
                                                    <input class="input_tarjeta" type="text">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row_cute">
                                            <div class="col-6-latop">
                                                <div id="nombre_tarjetahabiente">
                                                    <div class="row_cute">
                                                        <div style="padding:0;" class="cute-6-phone">
                                                            <h5>Fecha de Expiración</h5>
                                                            <select name="" id="plan_mes_exp_tarjeta">
                                <option value="1">01</option>
                                <option value="2">02</option>
                                <option value="3">03</option>
                                <option value="4">04</option>
                                <option value="5">05</option>
                                <option value="6">06</option>
                                <option value="7">07</option>
                                <option value="8">08</option>
                                <option value="9">09</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                              </select>
                                                            <span>/</span>
                                                            <select name="" id="plan_año_exp_tarjeta">
                                <option value="17">2017</option>
                                <option value="18">2018</option>
                                <option value="19">2019</option>
                                <option value="20">2020</option>
                                <option value="21">2021</option>
                                <option value="22">2022</option>
                                <option value="23">2023</option>
                                <option value="24">2024</option>
                                <option value="25">2025</option>
                                <option value="26">2026</option>
                                <option value="27">2027</option>
                                <option value="28">2028</option>
                              </select>
                                                        </div>
                                                        <div class="cute-6-phone">
                                                            <img id="tarjeta_visa" src="img/bancos-01.png" alt="">
                                                            <img id="tarjeta_master" src="img/bancos-02.png" alt="">
                                                            <img id="tarjeta_american" src="img/bancos-03.png" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row_cute">
                            <div class="col-12-phone">
                                <center>
                                    <span class="mensaje_tarjeta">
                    Al pagar por medio de tarjeta de crédito/débito usted <b>se suscribirá al cargo automático y recurrente de manera mensual o anual.</b> Usted puede cancelar esta suscripción en el momento que usted lo desee.
                  </span>
                                </center>
                            </div>
                        </div>
                        <div class="botones_despues_pago btn_desaparece plan_tarjeta_botones_contenedor row_cute">
                            <div class="cute-6-phone">
                                <button id="plan_cancelar_btn">Cancelar Suscripción</button>
                            </div>
                            <div class="cute-6-phone ">
                                <button id='plan_editar_btn'>Editar</button>
                            </div>

                        </div>
                        <div class="botones_antes_pago plan_tarjeta_botones_contenedor row_cute">
                            <div class="cute-12-phone ">
                                <center>
                                    <button id="plan_pagar_btn">Realizar Pago</button>
                                </center>
                            </div>
                        </div>
                    </div>

                    <!--////////-->
                    <!--////////-->
                    <!--////////-->
                    <!-- PAYPAL -->
                    <!-- PAYPAL -->
                    <!-- PAYPAL -->
                    <!-- PAYPAL -->
                    <!--////////-->
                    <!--////////-->
                    <!--////////-->
                    <div id="seccion_numero_label" class='seccion_pago_plan'>
                        <p>Pago con Paypal</p>
                        <img id="img_arrow_paypal" align="right " src="img/right-arrow (2).svg " alt=" ">
                        <div id='contenedor_paypal'>
                            <center>
                                <button id='paypal_btn'>Paypal</button>
                            </center>

                        </div>
                    </div>
                    <!--/////////////////-->
                    <!--/////////////////-->
                    <!--/////////////////-->
                    <!-- DATOS BANCARIOS -->
                    <!-- DATOS BANCARIOS -->
                    <!-- DATOS BANCARIOS -->
                    <!-- DATOS BANCARIOS -->
                    <!--/////////////////-->
                    <!--/////////////////-->
                    <!--/////////////////-->

                    <div id="seccion_dbancarios_label" class="seccion_pago_plan ">
                        <p>Pago con transferencia y efectivo</p>
                        <img id="img_arrow_dbancario" align="right " src="img/right-arrow (2).svg " alt=" ">
                        <div id='contenedor_datos_bancarios'>

                            <!--/////////////-->
                            <!-- FILA TITULO -->
                            <!-- FILA TITULO -->
                            <!-- FILA TITULO -->
                            <!-- FILA TITULO -->
                            <!--/////////////-->

                            <div class='row_cute'>
                                <div style="float:left;" class="plan_datos_bancarios cute-6-phone ">
                                    Datos Bancarios
                                </div>
                            </div>

                            <!--////////////-->
                            <!-- FILA BANCO -->
                            <!-- FILA BANCO -->
                            <!-- FILA BANCO -->
                            <!-- FILA BANCO -->
                            <!--////////////-->

                            <div class='row_cute'>
                                <div class='datos_bancarios_left plan_datos_bancarios cute-6-phone'>
                                    Banco
                                </div>
                                <div class='plan_datos_bancarios cute-6-phone'>
                                    BANORTE
                                </div>
                            </div>

                            <!--/////////////-->
                            <!-- FILA NOMBRE -->
                            <!-- FILA NOMBRE -->
                            <!-- FILA NOMBRE -->
                            <!-- FILA NOMBRE -->
                            <!--/////////////-->

                            <div class='seccion_inferior row_cute'>
                                <div class='datos_bancarios_left plan_datos_bancarios cute-6-phone'>
                                    Nombre
                                </div>
                                <div id='plan_nombre_empresa' class='plan_datos_bancarios cute-6-phone'>
                                    Documentos Digitales de MéXICO SA de CV
                                </div>
                            </div>

                            <!--/////////////-->
                            <!-- FILA CUENTA -->
                            <!-- FILA CUENTA -->
                            <!-- FILA CUENTA -->
                            <!-- FILA CUENTA -->
                            <!--/////////////-->

                            <div class='seccion_inferior row_cute'>
                                <div class='datos_bancarios_left plan_datos_bancarios cute-6-phone'>
                                    Cuenta
                                </div>
                                <div class='plan_datos_bancarios cute-6-phone'>
                                    0354719577
                                </div>
                            </div>

                            <!--/////////////-->
                            <!-- FILA CUENTA -->
                            <!-- FILA CUENTA -->
                            <!-- FILA CUENTA -->
                            <!-- FILA CUENTA -->
                            <!--/////////////-->

                            <div class='seccion_inferior row_cute'>
                                <div class='datos_bancarios_left plan_datos_bancarios cute-6-phone'>
                                    Clabe
                                </div>
                                <div class='plan_datos_bancarios cute-6-phone'>
                                    072 020 00354719577 1
                                </div>
                            </div>

                            <!--///////////////////////////-->
                            <!-- INSTRUCCIONES PAGO TITULO -->
                            <!-- INSTRUCCIONES PAGO TITULO -->
                            <!-- INSTRUCCIONES PAGO TITULO -->
                            <!-- INSTRUCCIONES PAGO TITULO -->
                            <!--///////////////////////////-->

                            <div class='row_cute'>
                                <div class='datos_bancarios_left plan_datos_bancarios cute-6-phone left'>
                                    Instrucciones de pago
                                </div>
                            </div>

                            <div class="row_cute ">
                                <div class='datos_bancarios_left plan_datos_bancarios cute-12-phone left'>
                                    <b style="color: rgb(98, 158, 195); "> Transferencia:</b> Agregar tu RFC en “Concepto de pago” para poder identificar tu pago.
                                </div>
                            </div>
                            <div class="row_cute ">
                                <div class='datos_bancarios_left plan_datos_bancarios cute-12-phone left'>
                                    <b style="color: rgb(98, 158, 195); "> Ventanilla bancaria:</b> Agregar tu Número de Cliente: 10515999 para poder identificar tu pago.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
