@charset "utf-8";
/* CSS Document */

	#Saludos-Confirm{
	font-size:25px;
	color:white;
	margin-left:20px;
	font-family:ubuntu;	
	}
	#Encabezado-Confirm{
	display:block;
	position:relative;
	width:100%;
	height:411.5px;
	opacity:1;
	background-color:#abc85f;
	font-size-adjust:inherit;
	}
	#icono-Confirm{
	display:block;
	position:relative;
	weight:134px;
	height:218px;
	margin-left: auto;
	margin-right: auto;
	top:30px;
	}
	
	#logo-Confirm{
	display:block;
	position:absolute;
	weight:220px;
	height:137px;
	top:-30px;
	left:5px;
	}
	#subEncabezado-Confirm{
	display:block;
	position:absolute;
	width:100%;
	height:131.39px;
	bottom:0px;
	z-index:1;
	text-align:center;
	opacity:1;
	background-color:#9cc042;

	}
	#mensaje-titulo{
	position:relative;
	font-family:ubuntu;
	font-weight:bold;
	font-size:63px;
	color:white;
	top:-30px;
	margin-left:10px;
	margin-right:10px;
	
	}
	#Contenido-Confirm{
	display:block;
	position:relative;
	width:100%;
	height:220px;
	font-size:28px;
	font-family:ubuntu;
	font-weight:lighter;
	color:grey;
	}
	
	#Texto-contenido-Confirm{
	display:block;
	position:relative;
	margin-left:100px;
	top:20px;
	}
	
	#boton-Confirm{
	display:block;
	position:relative;
	top:30px;
	border:none;
	background-color:#9cc942;
	border-radius:10px;
	height:64px;
	width:259px;	
	font-size:20px;
	margin-left:100px;
	font-family:ubuntu;
	font-weight:bold;
	color:white;
	}
	
	#Firma-pie{
	display:block;
	position:relative;
	width:100%;
	height:351px;
	font-size:18px;
	color:#6c6d6d;
	font-family:ubuntu;
	text-align:center;
	background-color:#e8e9ea;
	}
	div #contenido-pie-confirma p{
	margin:5px;	
	display:block;
	top:10px;
	line-spacing:10px;
	position:relative;
	
	}
	#contenido-pie-confirma{
	display:block;
	position:relative;
	padding-top:10px;	
	
	}
	div #contenido-pie-confirma2 p{
	margin:5px;	
	display:block;
	top:10px;
	line-spacing:10px;
	position:relative;
	
	}
	#contenido-pie-confirma2{
	display:block;
	position:relative;
	margin:10px;	
	}
	.facebook{
	display:inline-block;
	position:relative;
	top:10px;
	
	}
	.youtube{
	display:inline-block;
	position:relative;
	top:10px;	
	}
	@media only screen and (max-width : 992px) {
			#mensaje-titulo{
				font-size:48px;
				margin-top:60px;
			}		
		}
	@media only screen and (max-width : 792px) {
			#mensaje-titulo{
				font-size:40px;
				margin-top:70px;
			}		
		}
	@media (max-width:600px) and (min-width:300px) {
			#mensaje-titulo{
				font-size:30px;
				margin-top:60px;
			}	
	}