#div-application-container {
  min-width: 1200px !important;
  width: 100% !important;
  overflow:hidden;
}

#header-logo > img {
  min-width: 315px;
  min-height: 69px;
  max-width: 315px;
  max-height: 69px;
}

.row-menu {
    margin-top: -20px;
    padding: 10px;
}

.white {
    color: #FFFFFF;
}

#header {
    position: relative;
    top: 10px;
}

footer {
    position: absolute;
    bottom: 8px;
    max-width: 1170px;
    width: 1170px;
    border-top: 1px solid #e4e4e4;
    padding-top: 3px;
}

#menu-bar {
    width: 100%;
}

#header-user-info {
    margin-top: 10px;
    font-weight: 600;
}

#tabs-menu-background {
    position: absolute;
    top: 95px;
    height: 40px;
    background-color:  #003366;
    width: 100%;
    z-index: -10001;
    border-bottom: 1px solid #D6DBE0;
}

#tabs-menu-wrapper {
    padding-top: 5px;
    padding-bottom: 10px;
    height: 20px;
    width: 100%;
}

#tabs-menu ul {
    list-style: none;
}

#tabs-menu > li {
    display:inline;
    padding: 10px;
    color: #FFFFFF;
    font-weight: 600;
    text-align: center;
}

#tabs-menu > li > a {
    color: #FFFFFF;
}

#tabs-menu > li:hover {
    background-color: #FFFFFF;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    color: #003366;
}

#tabs-menu > li:hover > a {
    color: #003366;
}

.tab-selected {
    background-color: #FFFFFF;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    color: #003366;
}

h1, h2, h3, h4, h5, h6 {
    color: #003B75;
}

#tabs-submenu-wrapper {
    padding-top: 0px;
    padding-bottom: 10px;
    height: 20px;
}

#tabs-submenu ul {
    list-style: none;
}

#tabs-submenu > li {
    display:inline;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #003B75;
    font-weight: 600;
    border: 1px solid #D6DBE0;
}

#tabs-submenu > li:not(:first-child) {
    margin-left: -5px;
}

#tabs-submenu > li:not(:first-child):hover {
    background-color: #D3ECF9;
    color: #0075CE;
}

.tabs-submenu-selected {
    background-color: #D3ECF9;
    color: #0075CE;
}

#tabs-submenu > li > a {
    color: #003366;
}

.row-submenu {
    margin-top: -10px;
}

.lista-usuario, .lista-certificados, .minimal-border {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #eeeeee;
}

.border-usuario-adicional{
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #eeeeee;
}

.separate-edges {
    padding: 5px;
}

/* FORMS */

label.required, span.required, select.required {
    color: #a94442;
}

input.required, select.required, textarea.required {
    color: #a94442;
    border-color: #a94442;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

input.required:focus, textarea.required:focus {
    border-color: #a94442;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

label.search-label {
    left: -10px !important;
    position: relative;
    text-align: left !important;
}

.paginador-total {
    position: relative;
    top: 10px;
}

.form-horizontal .control-label .force-right{
    text-align: right !important;
}

.vertical-center {
    position: relative !important;
    top: 7px !important;
}

#flash-messages {
    margin-top: 10px;
}