/* HEADER */
#header-background {
    z-index: -1000;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 95px;
    min-width: 1024px;
    /* background-color: #003366; 
    box-shadow: 0px 2px 2px #888888;*/
    background: none repeat scroll 0 0 #30597a;
}

#header-bar {
    position: absolute;
    top:96px;
    width: 100%;
    height: 45px;
    min-width: 1200px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    padding: 5px;
}

#header-logo {
    padding-top: 5px;
}

#ul-user-options {
    z-index: 1000001 !important;
}

.user-info {
    text-align: right;
}

#user-dropdown {
    z-index: 10000001;
}

#header {
    height:95px;
    /*margin-top: -10px;*/
    margin-top: 5px;
}

#header-options {
    z-index: 10001;
}

#dashboard-page-header {
    margin: 20px 0 5px;
    padding-bottom: 0px;
}

/* FOOTER*/
#footer-text {
    padding-top: 10px;
}

/* MENU */
#menu {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.btn-right-menu {
    margin: 15px 0;
}

/* CONTENT */

#content {
    position: absolute;
    top: 120px;
    min-height: 100%;
    min-width: 100%;
    background: #FFFFFF;
}

.hidden {
    display: none;
}

/* TABLES */
th:not(.dow, .prev, .switch, .next) {
    background-image: url('/images/site/blue-bg.png');
    color: #FFFFFF;
}

/* FORMS */

label.required, span.required, select.required {
    color: #e32636;
}

input.required, select.required, textarea.required {
    color: #e32636;
    border-color: #e32636;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

input.required:focus, textarea.required:focus {
    border-color: #e32636;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

label.warning, span.warning {
    color: #C09853;
}

input.warning, textarea.warning {
    color: #C09853;
    border-color: #C09853;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

input.warning:focus, textarea.warning:focus {
    border-color: #A47E3C;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #DBC59E;
}

label.error, span.error, select.error {
    color: #B94A48;
}

input.error, select.error, textarea.error {
    color: #B94A48;
    border-color: #B94A48;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

input.error:focus, textarea.error:focus {
    border-color: #953B39;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #D59392;
}

label.success, span.success, select.success {
    color: #468847;
}

input.success, select.success, textarea.success {
    color: #468847;
    border-color: #468847;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

input.success:focus, textarea.success:focus {
    border-color: #356635;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #7ABA7B;
}

label.info, span.info {
    color: #3A87AD;
}

input.info, textarea.info {
    color: #3A87AD;
    border-color: #3A87AD;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

input.info:focus, textarea.info:focus {
    border-color: #2D6987;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #7AB5D3;
}

input.input-prepend-large {
    width: 245px;
}

select.input-xlarge {
    width: 285px;
}

select.x-large {
    width: 285px;
}

div.nested-form {
    margin-left: 50px;
}

div.row-fluid > div.flash-messages {
    margin-top: 10px;
    margin-bottom: 10px;
}

textarea {
    width: 270px;
    height: 200px;
}

/* Padding-top para los divs que contienen los campos extras en la vista Configuracion/Factura */
div.config-invoice-xtrafield {
    padding-top: 10px;
}