@media screen {
    .div-factura {
          width: 826px;
          border: 1px solid #bfbfbf;
          padding-bottom: 30px;
      }
}

@media print{
    .font-size-pdf{
        font-size: 13px !important;
    }

    .font-size-titulo-sello-pdf{
        font-size: 10px !important;
    }

    .font-size-cadenas-pdf{
        font-size: 8px !important;
    }

    .mantener-renglon {
        white-space: nowrap;
    }

    #qr-tradicional{
        float: right !important;
        width: 27%;
    }

    #total-table-tradicional{
        float: right !important;
    }

    .div-factura {
        width: 1000px;
        height: auto;
        border: 0px solid !important;
        padding: 1px;
        font-size: 11px;
        font-family: Arial;
    }
    .factura {
        padding: 15px;
        height: 500px;
        margin-left: 10px;
        margin-top: 40px;
        margin-right: 10px;
        font-size: 11px;
        font-family: Arial;
    }

    .codigo-qr{
        width: 130px !important;
        height: 130px !important;
    }

    .codigo-qr-tradicional{
        width: 200px !important;
        height: 200px !important;
    }

    .row {
        margin-left: -15px;
        margin-right: -15px;
    }
    .col-md-2 {
        width: 16.66666667%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-4 {
        width: 33.33333333%;
    }
    .col-md-5 {
        width: 41.66666667%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-7 {
        width: 58.33333333%;
    }
    .col-md-8 {
        width: 66.66666667%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-12 {
        width: 100%;
    }
    .col-md-offset-1 {
        margin-left: 8.33333333%;
    }
    .col-md-offset-3{
        margin-left:  25%;
    }
    .col-md-offset-4{
        margin-left:  33.33333333%;
    }
    .col-md-offset-6 {
        margin-left: 50%;
    }

    table, div{
        font-size: 10px;
    }

    table{
        border-collapse: collapse;
        border-spacing: 0;
        background-color: transparent;
    }

    .page-break {
        page-break-after: always;
    }
    .img-print {
        width: auto;
        height: auto;
    }
    img {
        height: 20%;
        vertical-align: middle;
    }
    .color-factura-gris
    {
        background: #C0C0C0 !important;
    }
    .color-factura-rojo
    {
        background: #FF0000 !important;
    }
    .color-factura-azul
    {
        background: #9999FF !important;
    }
    .color-factura-morado
    {
        background: #800080 !important;
        color: #ffffff !important;
    }
    .color-factura-negro
    {
        background: #000000 !important;
        color: #ffffff !important;
    }
    .color-factura-rosa
    {
        background: #FF99FF !important;
    }
    .color-factura-amarillo
    {
        background: #FFFF99 !important;
    }
    .dark-gray-background {
        display: table-cell;
        background-color: hsl(0, 0%, 80%) !important;
        color: hsl(0, 0%, 0%);
        font-size: 10px;
        font-weight: bold;
        text-align: center;
        vertical-align: middle;
        height: 38px;
        width: 230px;
        padding: 8px 0 8px 0;
        margin-right: 3px;
        margin-bottom: 3px;
    }

    .light-gray-background {
        display: table-cell;
        background-color: hsl(0, 0%, 93%) !important;
        color: hsl(0, 0%, 0%);
        font-size: 10px;
        text-align: center;
        vertical-align: middle;
        height: 38px;
        width: 230px;
        padding: 8px 0 8px 0;
        margin-right: 3px;
        margin-bottom: 3px;
    }
}

#contenedor-cotizacion-detalle{
    font-size: 8pt;
    border: solid 1px;
    height: 1088px;
    width: 785px;
    padding-top: 100px;
}

.pull-right {
    float: right !important;
}

.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
}

.img-print {
    width: 100%;
}

#datos-cotizacion{
    float: right;
}

.page-break {
    page-break-after: always;
}





.formAceptaCancelar{
    /* width: 35%; */
    border-radius: 1px;
    margin-top: 10px;
    /* border: 1px solid #ececec; */
    padding: 10px;
    font-family: 'Ubuntu', sans-serif; 

  }
  .formAceptaCancelar th, .formAceptaCancelar td{
    border: 0px;
    padding: 10px;
  }
	#acepta_cancelacion_factura, #no_acepta_cancelacion_factura{
		width: 150px;
		text-transform: uppercase;
        color: white;
    }
    #acepta_cancelacion_factura:hover,#no_acepta_cancelacion_factura:hover, {
        animation: pulse 2s;
        -moz-animation: pulse 2s;
        -webkit-animation: pulse 2s;
        position: relative;
    }
	#acepta_cancelacion_factura{
        font-size: 16px;
        border-radius: 5px;
        color: white;
        width: 150px;
        background-color: #99ba34;        
        border-style: none;
        box-shadow: 0 3px 0 0 #8ca32b;
	}
	#no_acepta_cancelacion_factura{
		font-size: 16px;
        border-radius: 5px;
        color: white;
        background-color: #30a0c7;
        width: 150px;
        border-style: none;
        box-shadow: 0 3px 0 0 #2b95b2;
    }
    .resultado_correcto, .resultado_incorrecto{
        color: white;
        width: 50%;
        padding: 10px;
    }
    .resultado_correcto{
        background: rgb(144, 252, 144);
    }
    .resultado_incorrecto{
        background: rgb(253, 71, 71);
    }

    #cancelacion_banner_forma{
        width: 100%;
        height: 100%;
    }

    #banner_top{
        background:url("../images/cancelacion_banner_fondo.png");
        background-size:350px 50px;
        background-repeat: no-repeat;
        height: 50px;
        border-radius: 10px 10px 0px 0px;
        padding: 6px;
        font-size: 20px;
        font-weight: bold;
        color: white;
        font-family: 'Ubuntu', sans-serif;  
    }

    .div-checkbox{
        padding-left: 5px;
    }

    .td-checkbox{
       text-align:left !important;
    }

    .warning_errores_archivos{
        height: 40px;
        width: 40px;
        z-index: 9999999999999;
    }

    #contrasena{
        border: solid;
        border-width: 1px;
        border-radius: 3px;
        border-color: #30a0c7;
        padding: 10px 20px;
      }
    #contrasena::placeholder{
    color:#d1d1d1;
    text-align: center;
    
    }


    /* CANCELACION DE FACTURAS */

    #cancelacion_factura{
        width: 100%;
        background: url("../images/fondo_1@2x.png");
        background-position-x: 0%;
        background-position-y: 0%;
        background-repeat: repeat;
        background-position: top;
        padding: 10px;
        background-repeat: no-repeat;
    }

    #cancelacion_factura .barra_header {
        font-family: 'Ubuntu';
    }

    .lineaFinal, .lineaFinal img{
        width: 100%;
        padding-top: 5px;
    }

    .titulo_emisor{
        font-size: 10px;
    }
    .separador{
        height: 1px;
        background-color: #d8d2d2;
        width: 90%;
        margin: 1px auto;
    }

    #cancelacion_factura span.nombre_empresa {
        font-size: 20px;
        color: #545454;
        /* padding-left: 5px; */
        text-transform: capitalize;
        font-weight: bold;
    }

    #cancelacion_factura .tabla_empresa_info td{
        padding-left: 5px;
        line-height: 15px;
    }

    #cancelacion_factura .tabla_empresa_info img{
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }

    #cancelacion_factura .logo_docdigitales_cancelacion img{
        width: 150px;
        padding-top: 15px;
        float: right;
        display: initial;
    }


    #cancelacion_factura .card {
        background: #fff;
        /* border-radius: 10px; */
        display: inline-block;
        margin-top: 1rem;
        position: relative;
        border-radius: 10px;
    }
    #cancelacion_factura .card-1 {
    box-shadow: 7px 8px 11px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    margin-bottom: 10px;
    }
    #cancelacion_factura #card_formulario {
        width: 100%;
        min-height: auto;
        position: fixed;
        width: 350px;
        padding-bottom: 10px;
        margin-top: 60px;
    }

    #cancelacion_factura .card-1:hover {
        margin-top: 5px;
        box-shadow: 6px 8px 20px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }

    #cancelacion_factura .mainContainer {
        /* padding-top: 100px; */
        /* height: 90vh;
        overflow-y: scroll; */
    }

    #cancelacion_factura .texto_form_cancelar{
        text-align: justify;
        padding: 25px;
    }

    .div-factura{
        width: 100%;
    }

    #card_card_formulario {
        width: 100%;
    min-height: auto;
    position: fixed!important;
    width: 350px;
    padding-bottom: 10px;
    }


    @media screen and (max-width: 1173px) {
        #cancelacion_factura #card_formulario {
            width: 100%;
            min-height: auto;
            position: initial;
            padding-bottom: 10px;
        }
        #cancelacion_factura .card{
            width: 100%;
        }
      }
      
      /* On screens that are 600px or less, set the background color to olive */
      @media screen and (max-width: 600px) {

        #cancelacion_factura span.nombre_empresa{
            font-size: 4em;
        }
        #cancelacion_factura .razon_social_empresa{
            font-size: 2.5em;
        }

        #cancelacion_factura .tabla_empresa_info img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }
      }

.botones_descarga_factura button, .descargar_factura_flotante a{
    width: 90px;
    margin: 3px;
    margin-right: 10px!important;
    background: #545454!important;
    border-color: #545454!important;
    font-weight: bolder;
}
.botones_descarga_factura{
    /* border: 1px solid #e0e0e0;
    width: 90%;
    padding: 2px;
    padding-bottom: 2px;
    border-radius: 5px;
    padding-bottom: 5px; */
}

.descargar_factura_flotante{
    z-index: 0;
    bottom: 10px;
    width: 80%;
}
.descargar_factura_flotante button{
    margin: 10px;
font-weight: bold;
}
.descargar_factura_flotante img{
    width: 14px;
}
.avatar-circle {
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 2px solid #4d4d4d;
    margin: 5px;
}

.initials {
    position: relative;
    top: 0px;
    font-size: 30px;
    line-height: 50px;
    color: #505050;
    font-family: "Courier New", monospace;
    font-weight: bold;
}


#cancelacion_factura .banner_factura_a_cancelar{
position: absolute;
width: 20%;
left: 0;
height: 10%;
z-index: 5;
}


#certificadoImagen, #keyImagen,#certificadoImagenOK, #keyImagenOK{
cursor: pointer;
width: 85px;
height: auto;
}
#certificadoImagenOK, #keyImagenOK{
display: none;
}
#certificadoInput, #llaveInput{
display: none;
}

.tabla-archivos-cancelacion td {
text-align: center;
margin-bottom: 0px !important;
}

.tabla-archivos-cancelacion{
    margin-bottom: 0px !important;
}




.errores_archivos{
    display: none;
    text-align: center;
    background: #cb5244;
    padding: 10px;
    position: absolute;
    top: 95px;
    left: 35%;
    color: white;
    margin: 0 auto;
    width: 30%;
    z-index: 999999999999;
    border-radius: 5px;
    border-bottom: 1px solid #df2d2d;
    font-size: 20px;
    font-family: 'Ubuntu';
    opacity: 0.90;
}

div#card_formularios{
    width: 100%;
    text-align: center;
    padding: 10px;
    box-shadow: 0 0 10px 2px #5987ac;
    padding-top: 14px;
}

#footer {
    margin-bottom: 0px;
    padding-top: 5px;
    margin-bottom: 15px;
    padding: 20px;
}
#footer a,#footer a:hover{
    text-decoration: none!important;
    color:#b3b3b3; 
    background-color: transparent;
}
#footer_texto {
    color: #b3b3b3;
    text-align: center;
    font-size: 13px;
    margin-top: 10px;
}

#logo_footer {
    width: 170px;
    display: initial;
    
}
.espacio_extra{
    padding-bottom: 5px;
}
#logo_docDigitalessvg{
    width:150px;
    height:auto;
    display:block;
    overflow: hidden;
    transform: translate3d(0,0,0);
    text-align: center;
    float: right;
    opacity: 1;
    padding-top: 16px;
}

#logo_pruebagratissvg{
    width:auto;
    height:200px;
    display:block;
    overflow: hidden;
    transform: translate3d(0,0,0);
    text-align: center;
    opacity: 1;
}

#prueba_gratis{
    display: none;
    padding: 10px;
    font-family: 'Ubuntu', sans-serif; 
    /* margin-top: 10px; */
}
#prueba_gratis a{
    text-decoration: none;
}

#center_prueba_gratis{
    position: relative;
    /* top: 280px; */
    width: 100%;
    padding-right: 20px;
}
#center_prueba_gratis{
    text-decoration: none!important;
    color: #545454!important;
}


#btn_prueba_gratis {
    border-radius: 8px;
    background-color: #fdb24c;
    border: none;
    transition: all .5s;
    box-shadow: 0px 5px #db9102;
    padding: 10px 10px;
    color: White;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif; 
    font-size: 18px;
    margin: 15px;
    transition: all .5s;
}

/* LOADING */
#pantallaFull {
    /* display: inline-block; */
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    /* left: 50%; */
    display: none;
    top: 0;
    z-index: 4000;
    /* padding-top: 35vh; */
    background: #86868380;
}



.lds-roller {
    display: inline-block;
    position: absolute;
    width: 64px;
    height: 64px;
    top: 35%;
    left: 50%;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fdd;
    margin: -3px 0 0 -3px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 50px;
    left: 50px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 54px;
    left: 45px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 57px;
    left: 39px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 58px;
    left: 32px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 57px;
    left: 25px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 54px;
    left: 19px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 50px;
    left: 14px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 45px;
    left: 10px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  /* Loading */


.aceptada, .rechazada{
    display: none; 
    padding: 10px;
    font-family: 'Ubuntu', sans-serif; 
}

.separador_cancelacion{
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Theme jbox tooltip*/

.jBox-TooltipDark .jBox-container {
  border-radius: 3px;
  background: #4d4d4d;
  color: #fff;
  box-shadow: 0 0 6px rgba(0, 0, 0, .4);
}

/* Pointer */

.jBox-TooltipDark .jBox-pointer:after {
  background: #4d4d4d;
}

/* Close button */

.jBox-TooltipDark .jBox-closeButton {
  background: #4d4d4d;
}

.jBox-TooltipDark.jBox-closeButton-box:before {
  box-shadow: 0 0 6px rgba(0, 0, 0, .4);
}

.jBox-TooltipDark.jBox-closeButton-box .jBox-closeButton path {
  fill: #ddd;
}

.jBox-TooltipDark.jBox-closeButton-box .jBox-closeButton:hover path {
  fill: #fff;
}

.jBox-TooltipDark.jBox-closeButton-box .jBox-closeButton:active path {
  fill: #bbb;
}

/* ANimacion de checkbox */

.label_checkbox{
    font-weight: normal !important;
}

/* Made by Jimmy Gillam */
/* Checkmark style starts */
@-moz-keyframes dothabottomcheck {
    0% {
      height: 0;
    }
    100% {
      height: 10px;
    }
  }
  @-webkit-keyframes dothabottomcheck {
    0% {
      height: 0;
    }
    100% {
      height: 10px;
    }
  }
  @keyframes dothabottomcheck {
    0% {
      height: 0;
    }
    100% {
      height: 10px;
    }
  }
  @keyframes dothatopcheck {
    0% {
      height: 0;
    }
    50% {
      height: 0;
    }
    100% {
      height: 24px;
    }
  }
  @-webkit-keyframes dothatopcheck {
    0% {
      height: 0;
    }
    50% {
      height: 0;
    }
    100% {
      height: 24px;
    }
  }
  @-moz-keyframes dothatopcheck {
    0% {
      height: 0;
    }
    50% {
      height: 0;
    }
    100% {
      height: 24px;
    }
  }
  .div-checkbox input[type=checkbox] {
    display: none;
  }
  
  .check-box {
    vertical-align: bottom !important;
    height: 20px;
    width: 20px;
    margin-bottom: 0px !important;
    margin-right: 3px;
    background-color: transparent;
    border: 2px solid #2fa6ca;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: border-color ease 0.2s;
    -o-transition: border-color ease 0.2s;
    -webkit-transition: border-color ease 0.2s;
    transition: border-color ease 0.2s;
    cursor: pointer;
  }
  .check-box::before, .check-box::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    height: 0;
    width: 4px;
    background-color: #2fa6ca;
    display: inline-block;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    border-radius: 5px;
    content: ' ';
    -webkit-transition: opacity ease .5;
    -moz-transition: opacity ease .5;
    transition: opacity ease .5;
  }
  .check-box::before {
    top: 14.4px;
    left: 8.2px;
    box-shadow: 0 0 0 1px white;
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  .check-box::after {
    top: 7.4px;
    left: 1px;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  .div-checkbox input[type=checkbox]:checked + .check-box,
  .check-box.checked {
    border-color: #2fa6ca;
  }
  .div-checkbox input[type=checkbox]:checked + .check-box::after,
  .check-box.checked::after {
    height: 10px;
    -moz-animation: dothabottomcheck 0.2s ease 0s forwards;
    -o-animation: dothabottomcheck 0.2s ease 0s forwards;
    -webkit-animation: dothabottomcheck 0.2s ease 0s forwards;
    animation: dothabottomcheck 0.2s ease 0s forwards;
  }
  .div-checkbox input[type=checkbox]:checked + .check-box::before,
  .check-box.checked::before {
    height: 24px;
    -moz-animation: dothatopcheck 0.4s ease 0s forwards;
    -o-animation: dothatopcheck 0.4s ease 0s forwards;
    -webkit-animation: dothatopcheck 0.4s ease 0s forwards;
    animation: dothatopcheck 0.4s ease 0s forwards;
  }
  


  #texto_demotivar {
    display: none;
    color: #f94646;
    text-align: justify;
    width: 90%;
    margin: 0px auto;
    font-size: 13px;
    line-height: 15px;
}

#formAceptaCancelar #contrasena {
    margin: 10px;
    width: 70%;
}

.estatus_cancelacion_label{
    font-size: 12px;
    line-height: 12px;
    padding-top: 15px;
}

.ajuste_heigh{
    height: 215px;
    margin-top: 50px !important;
}
.ajuste_normal{
    margin-top: 50px !important;
}