
@media print{    
        
    .row {
        margin-left: -15px;
        margin-right: -15px;
    }
    .col-md-12 {
        width: 100%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-4 {
    width: 33.33333333%;
    }
    .col-md-5 {
    width: 41.66666667%;
    }
    .col-md-6 {
    width: 50%;
    }
    .col-md-offset-6 {
    margin-left: 50%;
    }
    table, div{
        font-size: 8pt;
    }
    
    table{
        border-collapse: collapse;
        border-spacing: 0;
        background-color: transparent;
    }    
    
    .page-break {  
        page-break-after: always;  
    }
    .img-print {
        width: 100%;
    }    
}    
    #contenedor-cotizacion-detalle{
        font-size: 8pt;
        border: solid 1px;
        height: 1088px;
        width: 785px;
        padding-top: 100px;
    }
    #grid-productos-cotizaciones-preview{
        border:solid 1px;
    }    
    #grid-productos-cotizaciones-preview > thead > tr > th{
        border:solid 1px;
    }    
    #grid-productos-cotizaciones-preview > tbody > tr > td{
        border:solid 1px;
    }
    #grid-productos-cotizaciones-preview-summary{
        width: 50%;
        text-align: right;
        border: solid 1px;
    }
    .pull-right {
        float: right !important;
    }
    
    .text-left {
        text-align: left;
    }
    .text-right {
        text-align: right;
    }    
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
    }
    
    .img-print {
        width: 100%;
    }
    
    #imagen-empresa{
        
    }
    
    #datos-empresa{
        
    }
    
    #datos-cotizacion{
        float: right;
    }
    
    #datos-cliente{
        
    }
    .page-break {  
        page-break-after: always;  
    }  