@media print{    
	.text-right 
	{
	   	text-align: right;
	}  

	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 
	{
		float: left;
		position: relative;
		min-height: 1px;
		padding-left: 15px;
		padding-right: 15px;
	}			

	.row {
        margin-left: -15px;
        margin-right: -15px;
    }

	.col-md-1
	{
		width: 8.33333333%;
	}
	.col-md-6 
	{
    width: 50%;
    }
	.col-md-9 
	{
		width: 75%;
	}

    .col-md-12 
    {
        width: 100%;
    }

    table {
		display: table;
		border-spacing: 2px;
		border-color: gray;
	}
}