.label-estado-cuenta{
	width: 200px !important;
}
.cbox-estado-cuenta{
    padding-left: 30px;
}

.comprimir-inputs{
	margin-bottom: 4px;
}

#btn-limpiar-busqueda {
    margin-top: 18px;
    padding-left: 0;
}

 #btn-llave-upload, #btn-certificado-upload{
 	margin-top: 10px;
 }

 #empresa_fecha_vence_certificado{
 	color: red;
 }
 
#row-busqueda-empresa{
	margin-bottom: 20px;
}
 .add_margin_bottom{
 	margin-bottom: 35px;
 }

.contenedor_scroll_x{
	overflow-x: scroll;
} 

.col-descripciones-detalle{
	width: 30%;
	font-weight: bold;
}
