/*body { color:#000; }
a {
  color:#0000ff;
  text-decoration:none;
}*/
#lp-pom-image-3-holder {
  background-image:url(http://d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/documentos-digitales/93f375b2-5-elements-footer-logo.png);
  position:absolute;
  left:-1000000;
  visibility:none;
}
#lp-pom-root {
  display:block;
  background:rgba(238,238,238,1);
  -pie-background:rgba(238,238,238,1);
  border-style:none;
  margin:auto;
  padding-top:0px;
  min-width:512px;
  behavior:url(/PIE.htc);
  border-radius:0px;
}
#lp-pom-block-1 {
  display:block;
  background:rgba(40,41,54,1);
  -pie-background:rgba(40,41,54,1);
  border-style:none;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:0px;
  width:512px;
  height:300px;
  position:relative;
  behavior:url(/PIE.htc);
  border-radius:0px;
}
#lp-pom-text-2 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  border-style:none;
  left:20px;
  top:75px;
  z-index:1;
  width:472px;
  height:undefinedpx;
  position:absolute;
  behavior:url(/PIE.htc);
  border-radius:0px;
}
#lp-pom-image-3 {
  display:block;
  left:241px;
  top:207px;
  z-index:2;
  position:absolute;
  background:rgba(255,255,255,1);
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
}
#lp-pom-root .lp-positioned-content {
  top:0px;
  width:512px;
  margin-left:-256px;
}
#lp-pom-block-1 .lp-pom-block-content {
  margin-left:auto;
  margin-right:auto;
  width:512px;
  height:300px;
}
#lp-pom-image-3 .lp-pom-image-container {
  border-style:none;
  width:30px;
  height:32px;
  behavior:url(/PIE.htc);
  border-radius:0px;
}
#lp-pom-image-3 .lp-pom-image-container img {
  width:30px;
  height:32px;
}
#lp-pom-root-color-overlay {
  position:absolute;
  background:none;
  min-height:100%;
  width:100%;
}
#lp-pom-block-1-color-overlay {
  position:absolute;
  background:none;
  height:300px;
  width:512px;
}
