@media only screen and (max-width:600px) {
  #lp-pom-image-10-holder {
    background-image:url(https://9a6a7e4144ae68f2e02c-c277b7fff63a1404890bb16ceaf9a5ed.ssl.cf1.rackcdn.com/logo.png);
    position:absolute;
    left:-1000000;
    visibility:none;
  }
  #lp-pom-image-34-holder {
    background-image:url(https://9a6a7e4144ae68f2e02c-c277b7fff63a1404890bb16ceaf9a5ed.ssl.cf1.rackcdn.com/carmen-rodriguez.png);
    position:absolute;
    left:-1000000;
    visibility:none;
  }
  #lp-pom-image-48-holder {
    background-image:url(https://9a6a7e4144ae68f2e02c-c277b7fff63a1404890bb16ceaf9a5ed.ssl.cf1.rackcdn.com/fernando-robles.jpg);
    position:absolute;
    left:-1000000;
    visibility:none;
  }
  #lp-pom-image-54-holder {
    background-image:url(https://9a6a7e4144ae68f2e02c-c277b7fff63a1404890bb16ceaf9a5ed.ssl.cf1.rackcdn.com/faciluso.jpg);
    position:absolute;
    left:-1000000;
    visibility:none;
  }
  #lp-pom-image-56-holder {
    background-image:url(https://9a6a7e4144ae68f2e02c-c277b7fff63a1404890bb16ceaf9a5ed.ssl.cf1.rackcdn.com/mayor-control.jpg);
    position:absolute;
    left:-1000000;
    visibility:none;
  }
  #lp-pom-image-57-holder {
    background-image:url(https://9a6a7e4144ae68f2e02c-c277b7fff63a1404890bb16ceaf9a5ed.ssl.cf1.rackcdn.com/aumenta-prod.jpg);
    position:absolute;
    left:-1000000;
    visibility:none;
  }
  #lp-pom-image-67-holder {
    background-image:url(https://9a6a7e4144ae68f2e02c-c277b7fff63a1404890bb16ceaf9a5ed.ssl.cf1.rackcdn.com/disponibilidad.jpg);
    position:absolute;
    left:-1000000;
    visibility:none;
  }
  #lp-pom-image-68-holder {
    background-image:url(https://9a6a7e4144ae68f2e02c-c277b7fff63a1404890bb16ceaf9a5ed.ssl.cf1.rackcdn.com/agiliza-info-contable.jpg);
    position:absolute;
    left:-1000000;
    visibility:none;
  }
  #lp-pom-image-69-holder {
    background-image:url(https://9a6a7e4144ae68f2e02c-c277b7fff63a1404890bb16ceaf9a5ed.ssl.cf1.rackcdn.com/agiliza-info-contable.jpg);
    position:absolute;
    left:-1000000;
    visibility:none;
  }
  #lp-pom-image-148-holder {
    background-image:url(https://9a6a7e4144ae68f2e02c-c277b7fff63a1404890bb16ceaf9a5ed.ssl.cf1.rackcdn.com/doc-digitales.png);
    position:absolute;
    left:-1000000;
    visibility:none;
  }
  #lp-pom-image-175-holder {
    background-image:url(https://9a6a7e4144ae68f2e02c-c277b7fff63a1404890bb16ceaf9a5ed.ssl.cf1.rackcdn.com/globo-comment.png);
    position:absolute;
    left:-1000000;
    visibility:none;
  }
  #lp-pom-image-10 {
    left:19px;
    top:-81px;
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    z-index:1;
    position:absolute;
  }
  #lp-pom-text-11 {
    left:511px;
    top:34px;
    display:none;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    border-style:none;
    z-index:2;
    width:409px;
    height:60px;
    position:absolute;
    behavior:url(/PIE.htc);
    border-radius:0px;
  }
  #lp-pom-text-16 {
    left:18px;
    top:158px;
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    border-style:none;
    z-index:4;
    width:583px;
    height:43px;
    transform:scale(0.5);
    transform-origin:0 0;
    -webkit-transform:scale(0.5);
    -webkit-transform-origin:0 0;
    position:absolute;
    behavior:url(/PIE.htc);
    border-radius:0px;
  }
  #lp-pom-text-18 {
    left:6px;
    top:188px;
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    border-style:none;
    z-index:3;
    width:417px;
    height:58px;
    transform:scale(0.72);
    transform-origin:0 0;
    -webkit-transform:scale(0.72);
    -webkit-transform-origin:0 0;
    position:absolute;
    behavior:url(/PIE.htc);
    border-radius:0px;
  }
  #lp-pom-text-31 {
    left:17px;
    top:1063px;
    display:none;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    border-style:none;
    z-index:37;
    width:361px;
    height:54px;
    position:absolute;
    behavior:url(/PIE.htc);
    border-radius:0px;
  }
  #lp-pom-image-34 {
    left:396px;
    top:1080px;
    display:none;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    z-index:35;
    position:absolute;
  }
  #lp-pom-text-41 {
    left:73px;
    top:1275px;
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    border-style:none;
    z-index:38;
    width:229px;
    height:270px;
    position:absolute;
    behavior:url(/PIE.htc);
    border-radius:0px;
  }
  #lp-pom-text-47 {
    left:13px;
    top:1055px;
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    border-style:none;
    z-index:24;
    width:302px;
    height:81px;
    position:absolute;
    behavior:url(/PIE.htc);
    border-radius:0px;
  }
  #lp-pom-image-48 {
    left:22px;
    top:1185px;
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    z-index:23;
    position:absolute;
  }
  #lp-pom-text-51 {
    left:17px;
    top:1620px;
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    border-style:none;
    z-index:6;
    width:452px;
    height:129px;
    transform:scale(0.63);
    transform-origin:0 0;
    -webkit-transform:scale(0.63);
    -webkit-transform-origin:0 0;
    position:absolute;
    behavior:url(/PIE.htc);
    border-radius:0px;
  }
  #lp-pom-image-54 {
    left:0px;
    top:1738px;
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    z-index:7;
    position:absolute;
  }
  #lp-pom-image-56 {
    left:0px;
    top:2091px;
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    z-index:8;
    position:absolute;
  }
  #lp-pom-image-57 {
    left:0px;
    top:2441px;
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    z-index:9;
    position:absolute;
  }
  #lp-pom-text-59 {
    left:15px;
    top:1932px;
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    border-style:none;
    z-index:25;
    width:247px;
    height:26px;
    position:absolute;
    behavior:url(/PIE.htc);
    border-radius:0px;
  }
  #lp-pom-text-61 {
    left:15px;
    top:2635px;
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    border-style:none;
    z-index:26;
    width:228px;
    height:52px;
    position:absolute;
    behavior:url(/PIE.htc);
    border-radius:0px;
  }
  #lp-pom-text-60 {
    left:15px;
    top:2284px;
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    border-style:none;
    z-index:10;
    width:241px;
    height:52px;
    position:absolute;
    behavior:url(/PIE.htc);
    border-radius:0px;
  }
  #lp-pom-text-62 {
    left:15px;
    top:1968px;
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    border-style:none;
    z-index:11;
    width:289px;
    height:72px;
    position:absolute;
    behavior:url(/PIE.htc);
    border-radius:0px;
  }
  #lp-pom-text-64 {
    left:15px;
    top:2318px;
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    border-style:none;
    z-index:12;
    width:289px;
    height:undefinedpx;
    position:absolute;
    behavior:url(/PIE.htc);
    border-radius:0px;
  }
  #lp-pom-text-65 {
    left:15px;
    top:2687px;
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    border-style:none;
    z-index:27;
    width:289px;
    height:72px;
    position:absolute;
    behavior:url(/PIE.htc);
    border-radius:0px;
  }
  #lp-pom-image-67 {
    left:0px;
    top:3494px;
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    z-index:13;
    position:absolute;
  }
  #lp-pom-image-68 {
    left:0px;
    top:2792px;
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    z-index:14;
    position:absolute;
  }
  #lp-pom-image-69 {
    left:0px;
    top:3144px;
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    z-index:15;
    position:absolute;
  }
  #lp-pom-text-72 {
    left:15px;
    top:3686px;
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    border-style:none;
    z-index:16;
    width:247px;
    height:52px;
    position:absolute;
    behavior:url(/PIE.htc);
    border-radius:0px;
  }
  #lp-pom-text-73 {
    left:15px;
    top:2985px;
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    border-style:none;
    z-index:17;
    width:241px;
    height:26px;
    position:absolute;
    behavior:url(/PIE.htc);
    border-radius:0px;
  }
  #lp-pom-text-74 {
    left:15px;
    top:3336px;
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    border-style:none;
    z-index:18;
    width:228px;
    height:26px;
    position:absolute;
    behavior:url(/PIE.htc);
    border-radius:0px;
  }
  #lp-pom-text-76 {
    left:15px;
    top:3021px;
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    border-style:none;
    z-index:19;
    width:289px;
    height:48px;
    position:absolute;
    behavior:url(/PIE.htc);
    border-radius:0px;
  }
  #lp-pom-text-77 {
    left:15px;
    top:3371px;
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    border-style:none;
    z-index:21;
    width:289px;
    height:72px;
    position:absolute;
    behavior:url(/PIE.htc);
    border-radius:0px;
  }
  #lp-pom-root {
    display:block;
    background:rgba(255,255,255,1);
    -pie-background:rgba(255,255,255,1);
    border-style:none;
    margin:auto;
    padding-top:0px;
    min-width:320px;
    padding-bottom:1px;
    behavior:url(/PIE.htc);
    border-radius:0px;
  }
  #lp-pom-block-9 {
    display:block;
    background:rgba(255,255,255,1);
    -pie-background:rgba(255,255,255,1);
    border-style:none none solid none;
    border-width:1px;
    border-color:#f3f3f3;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:0px;
    width:100%;
    height:113px;
    position:relative;
    behavior:url(/PIE.htc);
    border-radius:0px;
  }
  #lp-pom-block-15 {
    display:block;
    background:rgba(255,255,255,1);
    -pie-background:rgba(255,255,255,1);
    border-style:none none none none;
    border-width:undefinedpx;
    border-color:none;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:0px;
    width:100%;
    height:133px;
    position:relative;
    behavior:url(/PIE.htc);
    border-radius:0px;
  }
  #lp-pom-block-20 {
    display:block;
    background:rgba(255,255,255,1);
    -pie-background:rgba(255,255,255,1);
    border-style:none;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:0px;
    width:320px;
    height:803px;
    position:relative;
    behavior:url(/PIE.htc);
    border-radius:0px;
  }
  #lp-pom-box-102 {
    display:block;
    background:rgba(40,41,54,1);
    -pie-background:rgba(40,41,54,1);
    border-style:none;
    left:0px;
    top:358px;
    z-index:28;
    width:320px;
    height:693px;
    position:absolute;
    behavior:url(/PIE.htc);
    border-radius:0px;
  }
  #lp-pom-image-148 {
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    left:0px;
    top:247px;
    z-index:20;
    position:absolute;
  }
  #lp-pom-text-24 {
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    border-style:none;
    left:24px;
    top:14px;
    z-index:33;
    width:266px;
    height:48px;
    position:absolute;
    behavior:url(/PIE.htc);
    border-radius:0px;
  }
  #lp-pom-text-25 {
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    border-style:none;
    left:24px;
    top:95px;
    z-index:31;
    width:277px;
    height:36px;
    position:absolute;
    behavior:url(/PIE.htc);
    border-radius:0px;
  }
  #lp-pom-button-27 {
    display:block;
    border-style:none;
    left:0px;
    top:436px;
    z-index:30;
    width:283px;
    height:63px;
    position:absolute;
    behavior:url(/PIE.htc);
    border-radius:5px;
    background:rgba(228,79,61,1);
    -pie-background:rgba(228,79,61,1);
    color:#fff;
    border-width:undefinedpx;
    border-color:#undefined;
    font-size:18px;
    line-height:22px;
    font-weight:bold;
    font-family:Arial,Helvetica,sans-serif;
    text-align:center;
    background-repeat:no-repeat;
  }
  #lp-pom-text-28 {
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    border-style:none;
    left:59px;
    top:562px;
    z-index:34;
    width:228px;
    height:22px;
    position:absolute;
    behavior:url(/PIE.htc);
    border-radius:0px;
  }
  #lp-pom-block-141 {
    display:none;
    background:rgba(241,240,238,1);
    -pie-background:rgba(241,240,238,1);
    border-style:none;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:0px;
    width:320px;
    height:104px;
    position:relative;
    behavior:url(/PIE.htc);
    border-radius:0px;
  }
  #lp-pom-text-159 {
    display:none;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    border-style:none;
    left:450px;
    top:1073px;
    z-index:36;
    width:111px;
    height:69px;
    position:absolute;
    behavior:url(/PIE.htc);
    border-radius:0px;
  }
  #lp-pom-block-37 {
    display:block;
    background:rgba(255,255,255,1);
    -pie-background:rgba(255,255,255,1);
    border-style:none;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:41px;
    width:100%;
    height:513px;
    position:relative;
    behavior:url(/PIE.htc);
    border-radius:0px;
  }
  #lp-pom-box-155 {
    display:block;
    background:rgba(22,131,179,1);
    -pie-background:rgba(22,131,179,1);
    border-style:solid;
    border-width:1px;
    border-color:#ccc;
    left:13px;
    top:1266px;
    z-index:40;
    width:38px;
    height:38px;
    position:absolute;
    behavior:url(/PIE.htc);
    border-radius:176px;
  }
  #lp-pom-image-175 {
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    left:4px;
    top:1061px;
    z-index:5;
    position:absolute;
  }
  #lp-pom-text-176 {
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    border-style:none;
    left:79px;
    top:1191px;
    z-index:39;
    width:192px;
    height:32px;
    position:absolute;
    behavior:url(/PIE.htc);
    border-radius:0px;
  }
  #lp-pom-box-209 {
    display:block;
    background:rgba(22,131,179,1);
    -pie-background:rgba(22,131,179,1);
    border-style:solid;
    border-width:1px;
    border-color:#ccc;
    left:13px;
    top:1340px;
    z-index:42;
    width:38px;
    height:38px;
    position:absolute;
    behavior:url(/PIE.htc);
    border-radius:176px;
  }
  #lp-pom-box-211 {
    display:block;
    background:rgba(22,131,179,1);
    -pie-background:rgba(22,131,179,1);
    border-style:solid;
    border-width:1px;
    border-color:#ccc;
    left:13px;
    top:1410px;
    z-index:44;
    width:38px;
    height:38px;
    position:absolute;
    behavior:url(/PIE.htc);
    border-radius:176px;
  }
  #lp-pom-box-215 {
    display:block;
    background:rgba(22,131,179,1);
    -pie-background:rgba(22,131,179,1);
    border-style:solid;
    border-width:1px;
    border-color:#ccc;
    left:13px;
    top:1490px;
    z-index:46;
    width:38px;
    height:38px;
    position:absolute;
    behavior:url(/PIE.htc);
    border-radius:176px;
  }
  #lp-pom-block-50 {
    display:block;
    background:rgba(33,134,194,1);
    -pie-background:rgba(33,134,194,1);
    border-style:none;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:0px;
    width:100%;
    height:100px;
    position:relative;
    behavior:url(/PIE.htc);
    border-radius:0px;
  }
  #lp-pom-block-52 {
    display:block;
    background:rgba(255,255,255,1);
    -pie-background:rgba(255,255,255,1);
    border-style:none;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:0px;
    width:100%;
    height:2136px;
    position:relative;
    behavior:url(/PIE.htc);
    border-radius:0px;
  }
  #lp-pom-block-78 {
    display:block;
    background:rgba(228,79,61,1);
    -pie-background:rgba(228,79,61,1);
    border-style:none;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:0px;
    width:100%;
    height:100px;
    position:relative;
    behavior:url(/PIE.htc);
    border-radius:0px;
  }
  #lp-pom-text-81 {
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    border-style:none;
    left:38px;
    top:3849px;
    z-index:22;
    width:375px;
    height:129px;
    transform:scale(0.65);
    transform-origin:0 0;
    -webkit-transform:scale(0.65);
    -webkit-transform-origin:0 0;
    position:absolute;
    behavior:url(/PIE.htc);
    border-radius:0px;
  }
  #lp-pom-block-80 {
    display:block;
    background:rgba(40,41,54,1);
    -pie-background:rgba(40,41,54,1);
    border-style:none;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:0px;
    width:100%;
    height:64px;
    position:relative;
    behavior:url(/PIE.htc);
    border-radius:0px;
  }
  #lp-pom-box-150 {
    display:block;
    background:rgba(33,134,208,1);
    -pie-background:rgba(33,134,208,1);
    border-style:none;
    left:0px;
    top:0px;
    z-index:32;
    width:320px;
    height:61px;
    position:absolute;
    behavior:url(/PIE.htc);
    border-radius:0px;
  }
  #lp-pom-text-156 {
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    border-style:none;
    left:6px;
    top:3px;
    z-index:41;
    width:25px;
    height:32px;
    position:absolute;
    behavior:url(/PIE.htc);
    border-radius:0px;
  }
  #lp-pom-text-210 {
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    border-style:none;
    left:6px;
    top:3px;
    z-index:43;
    width:25px;
    height:32px;
    position:absolute;
    behavior:url(/PIE.htc);
    border-radius:0px;
  }
  #lp-pom-text-212 {
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    border-style:none;
    left:6px;
    top:3px;
    z-index:45;
    width:25px;
    height:32px;
    position:absolute;
    behavior:url(/PIE.htc);
    border-radius:0px;
  }
  #lp-pom-text-216 {
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    border-style:none;
    left:6px;
    top:3px;
    z-index:47;
    width:25px;
    height:32px;
    position:absolute;
    behavior:url(/PIE.htc);
    border-radius:0px;
  }
  #lp-pom-root .lp-positioned-content {
    top:0px;
    width:320px;
    margin-left:-160px;
  }
  #lp-pom-block-9 .lp-pom-block-content {
    margin-left:auto;
    margin-right:auto;
    width:320px;
    height:113px;
  }
  #lp-pom-image-10 .lp-pom-image-container {
    border-style:none;
    width:282px;
    height:283px;
    behavior:url(/PIE.htc);
    border-radius:0px;
  }
  #lp-pom-image-10 .lp-pom-image-container img {
    width:282px;
    height:283px;
  }
  #lp-pom-block-15 .lp-pom-block-content {
    margin-left:auto;
    margin-right:auto;
    width:320px;
    height:133px;
  }
  #lp-pom-block-20 .lp-pom-block-content {
    margin-left:auto;
    margin-right:auto;
    width:320px;
    height:803px;
  }
  #lp-pom-button-27:hover {
    background:rgba(217,62,46,1);
    -pie-background:rgba(217,62,46,1);
    color:#fff;
  }
  #lp-pom-button-27:active {
    background:rgba(205,52,38,1);
    -pie-background:rgba(205,52,38,1);
    color:#fff;
  }
  #lp-pom-button-27 .label { margin-top:-22px; }
  #lp-pom-image-34 .lp-pom-image-container {
    border-style:none;
    width:46px;
    height:46px;
    behavior:url(/PIE.htc);
    border-radius:0px;
  }
  #lp-pom-image-34 .lp-pom-image-container img {
    width:46px;
    height:46px;
  }
  #lp-pom-block-141 .lp-pom-block-content {
    margin-left:auto;
    margin-right:auto;
    width:320px;
    height:104px;
  }
  #lp-pom-block-37 .lp-pom-block-content {
    margin-left:auto;
    margin-right:auto;
    width:320px;
    height:513px;
  }
  #lp-pom-image-48 .lp-pom-image-container {
    border-style:none;
    width:46px;
    height:46px;
    behavior:url(/PIE.htc);
    border-radius:0px;
  }
  #lp-pom-image-48 .lp-pom-image-container img {
    width:46px;
    height:46px;
  }
  #lp-pom-block-50 .lp-pom-block-content {
    margin-left:auto;
    margin-right:auto;
    width:320px;
    height:100px;
  }
  #lp-pom-block-52 .lp-pom-block-content {
    margin-left:auto;
    margin-right:auto;
    width:320px;
    height:2136px;
  }
  #lp-pom-image-54 .lp-pom-image-container {
    border-style:none;
    width:320px;
    height:175px;
    behavior:url(/PIE.htc);
    border-radius:0px;
  }
  #lp-pom-image-54 .lp-pom-image-container img {
    width:320px;
    height:175px;
  }
  #lp-pom-image-56 .lp-pom-image-container {
    border-style:none;
    width:320px;
    height:175px;
    behavior:url(/PIE.htc);
    border-radius:0px;
  }
  #lp-pom-image-56 .lp-pom-image-container img {
    width:320px;
    height:175px;
  }
  #lp-pom-image-57 .lp-pom-image-container {
    border-style:none;
    width:320px;
    height:175px;
    behavior:url(/PIE.htc);
    border-radius:0px;
  }
  #lp-pom-image-57 .lp-pom-image-container img {
    width:320px;
    height:175px;
  }
  #lp-pom-image-67 .lp-pom-image-container {
    border-style:none;
    width:320px;
    height:175px;
    behavior:url(/PIE.htc);
    border-radius:0px;
  }
  #lp-pom-image-67 .lp-pom-image-container img {
    width:320px;
    height:175px;
  }
  #lp-pom-image-68 .lp-pom-image-container {
    border-style:none;
    width:320px;
    height:175px;
    behavior:url(/PIE.htc);
    border-radius:0px;
  }
  #lp-pom-image-68 .lp-pom-image-container img {
    width:320px;
    height:175px;
  }
  #lp-pom-image-69 .lp-pom-image-container {
    border-style:none;
    width:320px;
    height:176px;
    behavior:url(/PIE.htc);
    border-radius:0px;
  }
  #lp-pom-image-69 .lp-pom-image-container img {
    width:320px;
    height:176px;
  }
  #lp-pom-block-78 .lp-pom-block-content {
    margin-left:auto;
    margin-right:auto;
    width:320px;
    height:100px;
  }
  #lp-pom-block-80 .lp-pom-block-content {
    margin-left:auto;
    margin-right:auto;
    width:320px;
    height:64px;
  }
  #lp-pom-image-148 .lp-pom-image-container {
    border-style:none;
    width:320px;
    height:0px;
    behavior:url(/PIE.htc);
    border-radius:0px;
  }
  #lp-pom-image-148 .lp-pom-image-container img {
    width:320px;
    height:0px;
  }
  #lp-pom-image-175 .lp-pom-image-container {
    border-style:none;
    width:316px;
    height:105px;
    behavior:url(/PIE.htc);
    border-radius:0px;
  }
  #lp-pom-image-175 .lp-pom-image-container img {
    width:316px;
    height:105px;
  }
  /*body { color:#777; }
  a {
    color:#e44f3d;
    text-decoration:none;
  }*/
  #lp-pom-root-color-overlay {
    position:absolute;
    background:none;
    min-height:100%;
    width:100%;
  }
  #lp-pom-block-9-color-overlay {
    position:absolute;
    background:none;
    border-style:none none solid none;
    border-width:1px;
    border-color:#f3f3f3;
    top:0px;
    left:0px;
    height:113px;
    width:100%;
  }
  #lp-pom-block-15-color-overlay {
    position:absolute;
    background:none;
    border-style:none none none none;
    border-width:undefinedpx;
    border-color:none;
    top:NaNpx;
    left:0px;
    height:133px;
    width:100%;
  }
  #lp-pom-block-20-color-overlay {
    position:absolute;
    background:none;
    height:803px;
    width:320px;
  }
  #lp-pom-block-141-color-overlay {
    position:absolute;
    background:none;
    height:104px;
    width:320px;
  }
  #lp-pom-block-37-color-overlay {
    position:absolute;
    background:none;
    height:513px;
    width:100%;
  }
  #lp-pom-block-50-color-overlay {
    position:absolute;
    background:none;
    height:100px;
    width:100%;
  }
  #lp-pom-block-52-color-overlay {
    position:absolute;
    background:none;
    height:2136px;
    width:100%;
  }
  #lp-pom-block-78-color-overlay {
    position:absolute;
    background:none;
    height:100px;
    width:100%;
  }
  #lp-pom-block-80-color-overlay {
    position:absolute;
    background:none;
    height:64px;
    width:100%;
  }
  #lp-pom-box-102-color-overlay {
    position:absolute;
    background:none;
    border-style:none none none none;
    border-width:undefinedpx;
    border-color:none;
    top:NaNpx;
    left:NaNpx;
    height:693px;
    width:320px;
  }
  #lp-pom-box-150-color-overlay {
    position:absolute;
    background:none;
    border-style:none none none none;
    border-width:undefinedpx;
    border-color:none;
    top:NaNpx;
    left:NaNpx;
    height:61px;
    width:320px;
  }
  #lp-pom-box-155-color-overlay {
    position:absolute;
    background:none;
    border-style:solid solid solid solid;
    border-width:1px;
    border-color:#ccc;
    top:-1px;
    left:-1px;
    border-radius:176px;
    behavior:url(/PIE.htc);
    height:38px;
    width:38px;
  }
  #lp-pom-box-209-color-overlay {
    position:absolute;
    background:none;
    border-style:solid solid solid solid;
    border-width:1px;
    border-color:#ccc;
    top:-1px;
    left:-1px;
    border-radius:176px;
    behavior:url(/PIE.htc);
    height:38px;
    width:38px;
  }
  #lp-pom-box-211-color-overlay {
    position:absolute;
    background:none;
    border-style:solid solid solid solid;
    border-width:1px;
    border-color:#ccc;
    top:-1px;
    left:-1px;
    border-radius:176px;
    behavior:url(/PIE.htc);
    height:38px;
    width:38px;
  }
  #lp-pom-box-215-color-overlay {
    position:absolute;
    background:none;
    border-style:solid solid solid solid;
    border-width:1px;
    border-color:#ccc;
    top:-1px;
    left:-1px;
    border-radius:176px;
    behavior:url(/PIE.htc);
    height:38px;
    width:38px;
  }
  #lp-pom-form-26 {
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    border-style:none;
    left:20px;
    top:163px;
    z-index:29;
    width:280px;
    height:-18px;
    position:absolute;
    behavior:url(/PIE.htc);
    border-radius:0px;
  }
  #lp-pom-form-26 .lp-pom-form-field label {
    margin-top:0px;
    font-family:Lato;
    font-weight:normal;
    font-size:16px;
    line-height:18px;
    color:#cccccc;
  }
  #lp-pom-form-26 .lp-pom-form-field .option label {
    font-family:Lato;
    font-weight:normal;
    font-size:13px;
    line-height:15px;
    left:18px;
    color:#333333;
  }
  #lp-pom-form-26 .lp-pom-form-field .option input { top:2px; }
  #lp-pom-form-26 .lp-pom-form-field input.text {
    background-color:#fff;
    color:#333333;
    box-shadow:inset 0px 2px 3px #dddddd;
    -webkit-box-shadow:inset 0px 2px 3px #dddddd;
    -moz-box-shadow:inset 0px 2px 3px #dddddd;
    border-radius:0px;
  }
  #lp-pom-form-26 .lp-pom-form-field input.password {
    background-color:#fff;
    color:#333333;
    box-shadow:inset 0px 2px 3px #dddddd;
    -webkit-box-shadow:inset 0px 2px 3px #dddddd;
    -moz-box-shadow:inset 0px 2px 3px #dddddd;
    border-radius:0px;
    position: absolute;
  }
  #lp-pom-form-26 .lp-pom-form-field textarea {
    background-color:#fff;
    color:#333333;
    box-shadow:inset 0px 2px 3px #dddddd;
    -webkit-box-shadow:inset 0px 2px 3px #dddddd;
    -moz-box-shadow:inset 0px 2px 3px #dddddd;
    border-style:none;
    border-radius:0px;
  }
  #lp-pom-form-26 .lp-pom-form-field input[type=text] { border-style:none; }
  #lp-pom-form-26 .lp-pom-form-field select { border-style:none; }
  #lp-pom-form-26 .form_elem_nombre_completo {
    top:22px;
    left:0px;
    width:254px;
    font-size:15px;
    line-height:15px;
    height:40px;
    padding-left:12px;
    padding-right:12px;
  }
  #lp-pom-form-26 .form_elem_correo_electronico {
    top:22px;
    left:0px;
    width:254px;
    font-size:15px;
    line-height:15px;
    height:40px;
    padding-left:12px;
    padding-right:12px;
  }
  #lp-pom-form-26 .form_elem_telefono_celular_u_oficina {
    top:22px;
    left:0px;
    width:254px;
    font-size:15px;
    line-height:15px;
    height:40px;
    padding-left:12px;
    padding-right:12px;
  }
  #lp-pom-form-26 .form_elem_rcf {
    top:22px;
    left:0px;
    width:254px;
    font-size:15px;
    line-height:15px;
    height:40px;
    padding-left:12px;
    padding-right:12px;
  }
  #lp-pom-form-26 .form_elem_contrasena {
    top:22px;
    left:0px;
    width:254px;
    font-size:15px;
    line-height:15px;
    height:40px;
    padding-left:12px;
    padding-right:12px;
  }
  #lp-pom-form-26 .form_elem_first_name { top:21px; }
  #lp-pom-form-26 .form_elem_email { top:21px; }
  #lp-pom-form-26 .form_elem_what_are_you_interested_in { top:21px; }
  #lp-pom-form-26 #label_nombre_completo {
    height:22px;
    top:0px;
    width:auto;
  }
  #lp-pom-form-26 #label_correo_electronico {
    height:22px;
    top:0px;
    width:auto;
  }
  #lp-pom-form-26 #label_telefono_celular_u_oficina {
    height:22px;
    top:0px;
    width:auto;
  }
  #lp-pom-form-26 #label_rcf {
    height:22px;
    top:0px;
    width:auto;
  }
  #lp-pom-form-26 #label_contrasena {
    height:22px;
    top:0px;
    width:auto;
  }
  #lp-pom-form-26 #label_first_name { height:21px; }
  #lp-pom-form-26 #label_email { height:21px; }
  #lp-pom-form-26 #label_what_are_you_interested_in { height:21px; }
  #lp-pom-form-26 #container_nombre_completo {
    width:280px;
    height:62px;
    top:0px;
  }
  #lp-pom-form-26 #container_correo_electronico {
    width:280px;
    height:62px;
    top:82px;
  }
  #lp-pom-form-26 #container_telefono_celular_u_oficina {
    width:280px;
    height:62px;
    top:164px;
  }
  #lp-pom-form-26 #container_rcf {
    width:280px;
    height:62px;
    top:246px;
  }
  #lp-pom-form-26 #container_contrasena {
    width:280px;
    height:62px;
    top:328px;
  }
  #lp-pom-form-26 #container_first_name { height:61px; }
  #lp-pom-form-26 #container_email {
    height:61px;
    top:81px;
  }
  #lp-pom-form-26 #container_what_are_you_interested_in {
    height:61px;
    top:162px;
  }
}
