/*#AQUI LO DEL LANDING PAGE*/

/*body { color:#777; }
a {
  color:#e44f3d;
  text-decoration:none;
}*/
.PAGE-Empresa-SubtituloNuevo{
  color: red;
}

.span-font-lato{
  /*font-family: lato;*/
}

img.img-registro-tab-tc {
 width: 555px;
 height: 325px;
}

img.img-registro-faride-slim {
 width: 46px;
 height: 46px;
}

.form-group.registro-lbl-fields{
  margin-left: 15px;
  margin-right: 15px;
}

.control-label.registro-lbl-fields{
  color: #cccccc;
}

.btn-danger.registro-btn-enviar{
  font-weight:bold;
  font-size:medium;
  height: 70px;
  width: 330px;
}

#lp-pom-box-102 > div > div > i.form-control-feedback.glyphicon {
  right: 0px;
  top: 25px;
}

ol {
    counter-reset: li; /* Initiate a counter */
    list-style: none; /* Remove default numbering */
    *list-style: decimal; /* Keep using default numbering for IE6/7 */
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

ol ol {
    margin: 0 0 0 2em; /* Add some left margin for inner lists */
}

.rounded-list li{
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    *padding: .4em;
    margin: .5em 0;
    /*background: #ddd;*/
    color: #777;
    text-decoration: none;
    border-radius: .3em;
    transition: all .3s ease-out;

    font-size: 16px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}

/*.rounded-list li:hover{
    background: #eee;
}

.rounded-list li:hover:before{
    transform: rotate(360deg);
}*/

.rounded-list li:before{
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: rgba(22,131,179,1);
    height: 2.5em;
    width: 2.5em;
    line-height: 2.5em;
    border: .1em solid #777;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
    color: white;
}




#lp-pom-image-10-holder {
  background-image:url(https://9a6a7e4144ae68f2e02c-c277b7fff63a1404890bb16ceaf9a5ed.ssl.cf1.rackcdn.com/logo.png);
  position:absolute;
  left:-1000000;
  visibility:none;
}
#lp-pom-image-34-holder {
  background-image:url(https://9a6a7e4144ae68f2e02c-c277b7fff63a1404890bb16ceaf9a5ed.ssl.cf1.rackcdn.com/carmen-rodriguez.png);
  position:absolute;
  left:-1000000;
  visibility:none;
}
#lp-pom-image-48-holder {
  background-image:url(https://9a6a7e4144ae68f2e02c-c277b7fff63a1404890bb16ceaf9a5ed.ssl.cf1.rackcdn.com/fernando-robles.jpg);
  position:absolute;
  left:-1000000;
  visibility:none;
}
#lp-pom-image-54-holder {
  background-image:url(https://9a6a7e4144ae68f2e02c-c277b7fff63a1404890bb16ceaf9a5ed.ssl.cf1.rackcdn.com/faciluso.jpg);
  position:absolute;
  left:-1000000;
  visibility:none;
}
#lp-pom-image-56-holder {
  background-image:url(https://9a6a7e4144ae68f2e02c-c277b7fff63a1404890bb16ceaf9a5ed.ssl.cf1.rackcdn.com/mayor-control.jpg);
  position:absolute;
  left:-1000000;
  visibility:none;
}
#lp-pom-image-57-holder {
  background-image:url(https://9a6a7e4144ae68f2e02c-c277b7fff63a1404890bb16ceaf9a5ed.ssl.cf1.rackcdn.com/aumenta-prod.jpg);
  position:absolute;
  left:-1000000;
  visibility:none;
}
#lp-pom-image-67-holder {
  background-image:url(https://9a6a7e4144ae68f2e02c-c277b7fff63a1404890bb16ceaf9a5ed.ssl.cf1.rackcdn.com/agiliza-info-contable.jpg);
  position:absolute;
  left:-1000000;
  visibility:none;
}
#lp-pom-image-68-holder {
  background-image:url(https://9a6a7e4144ae68f2e02c-c277b7fff63a1404890bb16ceaf9a5ed.ssl.cf1.rackcdn.com/simplifica.png);
  position:absolute;
  left:-1000000;
  visibility:none;
}
#lp-pom-image-69-holder {
  background-image:url(https://9a6a7e4144ae68f2e02c-c277b7fff63a1404890bb16ceaf9a5ed.ssl.cf1.rackcdn.com/disponibilidad.jpg);
  position:absolute;
  left:-1000000;
  visibility:none;
}
#lp-pom-image-148-holder {
  background-image:url(https://9a6a7e4144ae68f2e02c-c277b7fff63a1404890bb16ceaf9a5ed.ssl.cf1.rackcdn.com/doc-digitales.png);
  position:absolute;
  left:-1000000;
  visibility:none;
}
#lp-pom-image-175-holder {
  background-image:url(https://9a6a7e4144ae68f2e02c-c277b7fff63a1404890bb16ceaf9a5ed.ssl.cf1.rackcdn.com/globo-comment.png);
  position:absolute;
  left:-1000000;
  visibility:none;
}
#lp-pom-root {
  display:block;
  background:rgba(255,255,255,1);
  -pie-background:rgba(255,255,255,1);
  border-style:none;
  margin:auto;
  padding-top:0px;
  min-width:940px;
  padding-bottom:1px;
  behavior:url(/PIE.htc);
  border-radius:0px;
}
#lp-pom-block-9 {
  display:block;
  background:rgba(255,255,255,1);
  -pie-background:rgba(255,255,255,1);
  border-style:none none solid none;
  border-width:1px;
  border-color:#f3f3f3;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:0px;
  width:100%;
  height:113px;
  position:relative;
  behavior:url(/PIE.htc);
  border-radius:0px;
}
#lp-pom-image-10 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  left:0px;
  top:-169px;
  z-index:1;
  position:absolute;
}
#lp-pom-text-11 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  border-style:none;
  left:511px;
  top:34px;
  z-index:2;
  width:409px;
  height:60px;
  position:absolute;
  behavior:url(/PIE.htc);
  border-radius:0px;
}
#lp-pom-block-15 {
  display:block;
  background:rgba(255,255,255,1);
  -pie-background:rgba(255,255,255,1);
  border-style:none none none none;
  border-width:undefinedpx;
  border-color:none;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:0px;
  width:100%;
  height:89px;
  position:relative;
  behavior:url(/PIE.htc);
  border-radius:0px;
}
#lp-pom-text-16 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  border-style:none;
  left:0px;
  top:130px;
  z-index:4;
  width:940px;
  height:43px;
  position:absolute;
  behavior:url(/PIE.htc);
  border-radius:0px;
}
#lp-pom-text-18 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  border-style:none;
  left:0px;
  top:166px;
  z-index:3;
  width:940px;
  height:29px;
  position:absolute;
  behavior:url(/PIE.htc);
  border-radius:0px;
}
#lp-pom-block-20 {
  display:block;
  background:rgba(255,255,255,1);
  -pie-background:rgba(255,255,255,1);
  border-style:none;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:0px;
  width:940px;
  height:325px;
  position:relative;
  behavior:url(/PIE.htc);
  border-radius:0px;
}
#lp-pom-box-102 {
  display:block;
  background:rgba(40,41,54,1);
  -pie-background:rgba(40,41,54,1);
  border-style:none;
  left:0;
  /*top:203px;*/
  z-index:28;
  width:358px;
  /*height:686px;*/
  position:absolute;
  behavior:url(/PIE.htc);
  border-radius:0px;
  /*z-index:100;*/
}
#lp-pom-image-148 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  left:0px;
  top:203px;
  z-index:20;
  position:absolute;
}
#lp-pom-text-24 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  border-style:none;
  left:32px;
  top:14px;
  z-index:33;
  width:303px;
  height:48px;
  position:absolute;
  behavior:url(/PIE.htc);
  border-radius:0px;
}
#lp-pom-text-25 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  border-style:none;
  left:39px;
  top:86px;
  z-index:31;
  width:277px;
  height:36px;
  position:absolute;
  behavior:url(/PIE.htc);
  border-radius:0px;
}
#lp-pom-button-27 {
  display:block;
  border-style:none;
  left:0px;
  top:436px;
  z-index:30;
  width:283px;
  height:63px;
  position:absolute;
  behavior:url(/PIE.htc);
  border-radius:5px;
  background:rgba(228,79,61,1);
  -pie-background:rgba(228,79,61,1);
  color:#fff;
  border-width:undefinedpx;
  border-color:#undefined;
  font-size:18px;
  line-height:22px;
  font-weight:bold;
  font-family:Arial,Helvetica,sans-serif;
  text-align:center;
  background-repeat:no-repeat;
}
#lp-pom-text-28 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  border-style:none;
  left:70px;
  top:559px;
  z-index:34;
  width:228px;
  height:22px;
  position:absolute;
  behavior:url(/PIE.htc);
  border-radius:0px;
}
#lp-pom-text-29 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  border-style:none;
  left:40px;
  top:575px;
  z-index:34;
  width:280px;
  height:22px;
  position:absolute;
  behavior:url(/PIE.htc);
  border-radius:0px;
}
#lp-pom-text-31 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  border-style:none;
  left:17px;
  top:541px;
  z-index:37;
  width:361px;
  height:54px;
  position:absolute;
  behavior:url(/PIE.htc);
  border-radius:0px;
}
#lp-pom-image-34 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  left:396px;
  top:558px;
  z-index:35;
  position:absolute;
}
#lp-pom-block-141 {
  display:block;
  background:rgba(241,240,238,1);
  -pie-background:rgba(241,240,238,1);
  border-style:none;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:0px;
  width:940px;
  height:104px;
  position:relative;
  behavior:url(/PIE.htc);
  border-radius:0px;
}
#lp-pom-text-159 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  border-style:none;
  left:450px;
  top:551px;
  z-index:36;
  width:111px;
  height:69px;
  position:absolute;
  behavior:url(/PIE.htc);
  border-radius:0px;
}
#lp-pom-block-37 {
  display:block;
  background:rgba(255,255,255,1);
  -pie-background:rgba(255,255,255,1);
  border-style:none;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:0px;
  width:100%;
  height:420px;
  position:relative;
  behavior:url(/PIE.htc);
  border-radius:0px;
}
#lp-pom-text-41 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  border-style:none;
  left:88px;
  top:651px;
  z-index:38;
  width:480px;
  height:196px;
  position:absolute;
  behavior:url(/PIE.htc);
  border-radius:0px;
}
#lp-pom-text-47 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  border-style:none;
  left:167px;
  top:872px;
  z-index:24;
  width:321px;
  height:81px;
  position:absolute;
  behavior:url(/PIE.htc);
  border-radius:0px;
}
#lp-pom-image-48 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  left:180px;
  top:985px;
  z-index:23;
  position:absolute;
}
#lp-pom-box-155 {
  display:block;
  background:rgba(22,131,179,1);
  -pie-background:rgba(22,131,179,1);
  border-style:solid;
  border-width:1px;
  border-color:#ccc;
  left:32px;
  /*top:641px;*/
  z-index:40;
  width:38px;
  height:38px;
  position:absolute;
  behavior:url(/PIE.htc);
  border-radius:176px;
}
#lp-pom-image-175 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  left:155px;
  /*top:861px;*/
  z-index:5;
  position:absolute;
}
#lp-pom-text-176 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  border-style:none;
  left:243px;
  top:993px;
  z-index:39;
  width:258px;
  height:32px;
  position:absolute;
  behavior:url(/PIE.htc);
  border-radius:0px;
}
#lp-pom-box-209 {
  display:block;
  background:rgba(22,131,179,1);
  -pie-background:rgba(22,131,179,1);
  border-style:solid;
  border-width:1px;
  border-color:#ccc;
  left:32px;
  top:690px;
  z-index:42;
  width:38px;
  height:38px;
  position:absolute;
  behavior:url(/PIE.htc);
  border-radius:176px;
}
#lp-pom-box-211 {
  display:block;
  background:rgba(22,131,179,1);
  -pie-background:rgba(22,131,179,1);
  border-style:solid;
  border-width:1px;
  border-color:#ccc;
  left:32px;
  top:742px;
  z-index:44;
  width:38px;
  height:38px;
  position:absolute;
  behavior:url(/PIE.htc);
  border-radius:176px;
}
#lp-pom-box-215 {
  display:block;
  background:rgba(22,131,179,1);
  -pie-background:rgba(22,131,179,1);
  border-style:solid;
  border-width:1px;
  border-color:#ccc;
  left:32px;
  top:797px;
  z-index:46;
  width:38px;
  height:38px;
  position:absolute;
  behavior:url(/PIE.htc);
  border-radius:176px;
}
#lp-pom-block-50 {
  display:block;
  background:rgba(33,134,194,1);
  -pie-background:rgba(33,134,194,1);
  border-style:none;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:0px;
  width:100%;
  height:100px;
  position:relative;
  behavior:url(/PIE.htc);
  border-radius:0px;
}
#lp-pom-text-51 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  border-style:none;
  left:0px;
  top:1087px;
  z-index:6;
  width:940px;
  height:43px;
  position:absolute;
  behavior:url(/PIE.htc);
  border-radius:0px;
}
#lp-pom-block-52 {
  display:block;
  background:rgba(255,255,255,1);
  -pie-background:rgba(255,255,255,1);
  border-style:none;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:0px;
  width:100%;
  height:817px;
  position:relative;
  behavior:url(/PIE.htc);
  border-radius:0px;
}
#lp-pom-image-54 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  left:0px;
  top:1222px;
  z-index:7;
  position:absolute;
}
#lp-pom-image-56 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  left:326px;
  top:1222px;
  z-index:8;
  position:absolute;
}
#lp-pom-image-57 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  left:651px;
  top:1222px;
  z-index:9;
  position:absolute;
}
#lp-pom-text-59 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  border-style:none;
  left:0px;
  top:1399px;
  z-index:25;
  width:247px;
  height:26px;
  position:absolute;
  behavior:url(/PIE.htc);
  border-radius:0px;
}
#lp-pom-text-61 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  border-style:none;
  left:651px;
  top:1399px;
  z-index:26;
  width:228px;
  height:52px;
  position:absolute;
  behavior:url(/PIE.htc);
  border-radius:0px;
}
#lp-pom-text-60 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  border-style:none;
  left:326px;
  top:1399px;
  z-index:10;
  width:241px;
  height:52px;
  position:absolute;
  behavior:url(/PIE.htc);
  border-radius:0px;
}
#lp-pom-text-62 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  border-style:none;
  left:0px;
  top:1432px;
  z-index:11;
  width:289px;
  height:72px;
  position:absolute;
  behavior:url(/PIE.htc);
  border-radius:0px;
}
#lp-pom-text-64 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  border-style:none;
  left:326px;
  top:1451px;
  z-index:12;
  width:289px;
  height:undefinedpx;
  position:absolute;
  behavior:url(/PIE.htc);
  border-radius:0px;
}
#lp-pom-text-65 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  border-style:none;
  left:651px;
  top:1444px;
  z-index:27;
  width:289px;
  height:72px;
  position:absolute;
  behavior:url(/PIE.htc);
  border-radius:0px;
}
#lp-pom-image-67 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  left:0px;
  top:1593px;
  z-index:13;
  position:absolute;
}
#lp-pom-image-68 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  left:325px;
  top:1593px;
  z-index:14;
  position:absolute;
}
#lp-pom-image-69 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  left:651px;
  top:1593px;
  z-index:15;
  position:absolute;
}
#lp-pom-text-72 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  border-style:none;
  left:0px;
  top:1771px;
  z-index:16;
  width:247px;
  height:52px;
  position:absolute;
  behavior:url(/PIE.htc);
  border-radius:0px;
}
#lp-pom-text-73 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  border-style:none;
  left:326px;
  top:1771px;
  z-index:17;
  width:241px;
  height:26px;
  position:absolute;
  behavior:url(/PIE.htc);
  border-radius:0px;
}
#lp-pom-text-74 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  border-style:none;
  left:651px;
  top:1771px;
  z-index:18;
  width:228px;
  height:26px;
  position:absolute;
  behavior:url(/PIE.htc);
  border-radius:0px;
}
#lp-pom-text-76 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  border-style:none;
  left:326px;
  top:1803px;
  z-index:19;
  width:289px;
  height:48px;
  position:absolute;
  behavior:url(/PIE.htc);
  border-radius:0px;
}
#lp-pom-text-77 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  border-style:none;
  left:651px;
  top:1803px;
  z-index:21;
  width:289px;
  height:72px;
  position:absolute;
  behavior:url(/PIE.htc);
  border-radius:0px;
}
#lp-pom-block-78 {
  display:block;
  background:rgba(228,79,61,1);
  -pie-background:rgba(228,79,61,1);
  border-style:none;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:0px;
  width:100%;
  height:100px;
  position:relative;
  behavior:url(/PIE.htc);
  border-radius:0px;
}
#lp-pom-text-81 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  border-style:none;
  left:0px;
  top:1986px;
  z-index:22;
  width:940px;
  height:86px;
  position:absolute;
  behavior:url(/PIE.htc);
  border-radius:0px;
}
#lp-pom-block-80 {
  display:block;
  background:rgba(40,41,54,1);
  -pie-background:rgba(40,41,54,1);
  border-style:none;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:0px;
  width:100%;
  height:64px;
  position:relative;
  behavior:url(/PIE.htc);
  border-radius:0px;
}
#lp-pom-box-150 {
  display:block;
  background:rgba(33,134,208,1);
  -pie-background:rgba(33,134,208,1);
  border-style:none;
  left:0px;
  top:0px;
  z-index:32;
  width:358px;
  height:83px;
  position:absolute;
  behavior:url(/PIE.htc);
  border-radius:0px;
}
#lp-pom-text-156 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  border-style:none;
  left:6px;
  top:3px;
  z-index:41;
  width:25px;
  height:32px;
  position:absolute;
  behavior:url(/PIE.htc);
  border-radius:0px;
}
#lp-pom-text-210 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  border-style:none;
  left:6px;
  top:3px;
  z-index:43;
  width:25px;
  height:32px;
  position:absolute;
  behavior:url(/PIE.htc);
  border-radius:0px;
}
#lp-pom-text-212 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  border-style:none;
  left:6px;
  top:3px;
  z-index:45;
  width:25px;
  height:32px;
  position:absolute;
  behavior:url(/PIE.htc);
  border-radius:0px;
}
#lp-pom-text-216 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  border-style:none;
  left:6px;
  top:3px;
  z-index:47;
  width:25px;
  height:32px;
  position:absolute;
  behavior:url(/PIE.htc);
  border-radius:0px;
}
#lp-pom-root .lp-positioned-content {
  top:0px;
  width:940px;
  margin-left:-470px;
}
#lp-pom-block-9 .lp-pom-block-content {
  margin-left:auto;
  margin-right:auto;
  width:940px;
  height:113px;
}
#lp-pom-image-10 .lp-pom-image-container {
  border-style:none;
  width:438px;
  height:437px;
  behavior:url(/PIE.htc);
  border-radius:0px;
}
#lp-pom-image-10 .lp-pom-image-container img {
  width:438px;
  height:437px;
}
#lp-pom-block-15 .lp-pom-block-content {
  margin-left:auto;
  margin-right:auto;
  width:940px;
  height:89px;
}
#lp-pom-block-20 .lp-pom-block-content {
  margin-left:auto;
  margin-right:auto;
  width:940px;
  height:325px;
}
#lp-pom-button-27:hover {
  background:rgba(217,62,46,1);
  -pie-background:rgba(217,62,46,1);
  color:#fff;
}
#lp-pom-button-27:active {
  background:rgba(205,52,38,1);
  -pie-background:rgba(205,52,38,1);
  color:#fff;
}
#lp-pom-button-27 .label { margin-top:-22px; }
#lp-pom-image-34 .lp-pom-image-container {
  border-style:none;
  width:46px;
  height:46px;
  behavior:url(/PIE.htc);
  border-radius:0px;
}
#lp-pom-image-34 .lp-pom-image-container img {
  width:46px;
  height:46px;
}
#lp-pom-block-141 .lp-pom-block-content {
  margin-left:auto;
  margin-right:auto;
  width:940px;
  height:104px;
}
#lp-pom-block-37 .lp-pom-block-content {
  margin-left:auto;
  margin-right:auto;
  width:940px;
  height:420px;
}
#lp-pom-image-48 .lp-pom-image-container {
  border-style:none;
  width:46px;
  height:46px;
  behavior:url(/PIE.htc);
  border-radius:0px;
}
#lp-pom-image-48 .lp-pom-image-container img {
  width:46px;
  height:46px;
}
#lp-pom-block-50 .lp-pom-block-content {
  margin-left:auto;
  margin-right:auto;
  width:940px;
  height:100px;
}
#lp-pom-block-52 .lp-pom-block-content {
  margin-left:auto;
  margin-right:auto;
  width:940px;
  height:817px;
}
#lp-pom-image-54 .lp-pom-image-container {
  border-style:none;
  width:289px;
  height:158px;
  behavior:url(/PIE.htc);
  border-radius:0px;
}
#lp-pom-image-54 .lp-pom-image-container img {
  width:289px;
  height:158px;
}
#lp-pom-image-56 .lp-pom-image-container {
  border-style:none;
  width:289px;
  height:158px;
  behavior:url(/PIE.htc);
  border-radius:0px;
}
#lp-pom-image-56 .lp-pom-image-container img {
  width:289px;
  height:158px;
}
#lp-pom-image-57 .lp-pom-image-container {
  border-style:none;
  width:289px;
  height:158px;
  behavior:url(/PIE.htc);
  border-radius:0px;
}
#lp-pom-image-57 .lp-pom-image-container img {
  width:289px;
  height:158px;
}
#lp-pom-image-67 .lp-pom-image-container {
  border-style:none;
  width:289px;
  height:158px;
  behavior:url(/PIE.htc);
  border-radius:0px;
}
#lp-pom-image-67 .lp-pom-image-container img {
  width:289px;
  height:158px;
}
#lp-pom-image-68 .lp-pom-image-container {
  border-style:none;
  width:289px;
  height:158px;
  behavior:url(/PIE.htc);
  border-radius:0px;
}
#lp-pom-image-68 .lp-pom-image-container img {
  width:289px;
  height:158px;
}
#lp-pom-image-69 .lp-pom-image-container {
  border-style:none;
  width:289px;
  height:158px;
  behavior:url(/PIE.htc);
  border-radius:0px;
}
#lp-pom-image-69 .lp-pom-image-container img {
  width:289px;
  height:158px;
}
#lp-pom-block-78 .lp-pom-block-content {
  margin-left:auto;
  margin-right:auto;
  width:940px;
  height:100px;
}
#lp-pom-block-80 .lp-pom-block-content {
  margin-left:auto;
  margin-right:auto;
  width:940px;
  height:64px;
}
#lp-pom-image-148 .lp-pom-image-container {
  border-style:none;
  width:940px;
  height:325px;
  behavior:url(/PIE.htc);
  border-radius:0px;
}
#lp-pom-image-148 .lp-pom-image-container img {
  width:940px;
  height:325px;
}
#lp-pom-image-175 .lp-pom-image-container {
  border-style:none;
  width:358px;
  height:118px;
  behavior:url(/PIE.htc);
  border-radius:0px;
}
#lp-pom-image-175 .lp-pom-image-container img {
  width:358px;
  height:118px;
}
#lp-pom-root-color-overlay {
  position:absolute;
  background:none;
  min-height:100%;
  width:100%;
}
#lp-pom-block-9-color-overlay {
  position:absolute;
  background:none;
  border-style:none none solid none;
  border-width:1px;
  border-color:#f3f3f3;
  top:0px;
  left:0px;
  height:113px;
  width:100%;
}
#lp-pom-block-15-color-overlay {
  position:absolute;
  background:none;
  border-style:none none none none;
  border-width:undefinedpx;
  border-color:none;
  top:NaNpx;
  left:0px;
  height:89px;
  width:100%;
}
#lp-pom-block-20-color-overlay {
  position:absolute;
  background:none;
  height:325px;
  width:940px;
}
#lp-pom-block-141-color-overlay {
  position:absolute;
  background:none;
  height:104px;
  width:940px;
}
#lp-pom-block-37-color-overlay {
  position:absolute;
  background:none;
  height:420px;
  width:100%;
}
#lp-pom-block-50-color-overlay {
  position:absolute;
  background:none;
  height:100px;
  width:100%;
}
#lp-pom-block-52-color-overlay {
  position:absolute;
  background:none;
  height:817px;
  width:100%;
}
#lp-pom-block-78-color-overlay {
  position:absolute;
  background:none;
  height:100px;
  width:100%;
}
#lp-pom-block-80-color-overlay {
  position:absolute;
  background:none;
  height:64px;
  width:100%;
}
#lp-pom-box-102-color-overlay {
  position:absolute;
  background:none;
  border-style:none none none none;
  border-width:undefinedpx;
  border-color:none;
  top:NaNpx;
  left:NaNpx;
  /*height:686px;*/
  width:358px;
  /*z-index:100;*/
}
#lp-pom-box-150-color-overlay {
  position:absolute;
  background:none;
  border-style:none none none none;
  border-width:undefinedpx;
  border-color:none;
  top:NaNpx;
  left:NaNpx;
  height:73px;
  width:358px;
}
#lp-pom-box-155-color-overlay {
  position:absolute;
  background:none;
  border-style:solid solid solid solid;
  border-width:1px;
  border-color:#ccc;
  top:-1px;
  left:-1px;
  border-radius:176px;
  behavior:url(/PIE.htc);
  height:38px;
  width:38px;
}
#lp-pom-box-209-color-overlay {
  position:absolute;
  background:none;
  border-style:solid solid solid solid;
  border-width:1px;
  border-color:#ccc;
  top:-1px;
  left:-1px;
  border-radius:176px;
  behavior:url(/PIE.htc);
  height:38px;
  width:38px;
}
#lp-pom-box-211-color-overlay {
  position:absolute;
  background:none;
  border-style:solid solid solid solid;
  border-width:1px;
  border-color:#ccc;
  top:-1px;
  left:-1px;
  border-radius:176px;
  behavior:url(/PIE.htc);
  height:38px;
  width:38px;
}
#lp-pom-box-215-color-overlay {
  position:absolute;
  background:none;
  border-style:solid solid solid solid;
  border-width:1px;
  border-color:#ccc;
  top:-1px;
  left:-1px;
  border-radius:176px;
  behavior:url(/PIE.htc);
  height:38px;
  width:38px;
}
#lp-pom-form-26 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  border-style:none;
  left:39px;
  top:161px;
  z-index:29;
  width:280px;
  height:-18px;
  position:absolute;
  behavior:url(/PIE.htc);
  border-radius:0px;
}
#lp-pom-form-26 .lp-pom-form-field label {
  margin-top:0px;
  font-family:Lato;
  font-weight:normal;
  font-size:16px;
  line-height:18px;
  color:#cccccc;
}
#lp-pom-form-26 .lp-pom-form-field .option label {
  font-family:Lato;
  font-weight:normal;
  font-size:13px;
  line-height:15px;
  left:18px;
  color:#333333;
}
#lp-pom-form-26 .lp-pom-form-field .option input { top:2px; }
#lp-pom-form-26 .lp-pom-form-field input.text {
  background-color:#fff;
  color:#333333;
  box-shadow:inset 0px 2px 3px #dddddd;
  -webkit-box-shadow:inset 0px 2px 3px #dddddd;
  -moz-box-shadow:inset 0px 2px 3px #dddddd;
  border-radius:0px;
}
#lp-pom-form-26 .lp-pom-form-field input.password {
  background-color:#fff;
  color:#333333;
  box-shadow:inset 0px 2px 3px #dddddd;
  -webkit-box-shadow:inset 0px 2px 3px #dddddd;
  -moz-box-shadow:inset 0px 2px 3px #dddddd;
  border-radius:0px;
  position: absolute;
}
#lp-pom-form-26 .lp-pom-form-field textarea {
  background-color:#fff;
  color:#333333;
  box-shadow:inset 0px 2px 3px #dddddd;
  -webkit-box-shadow:inset 0px 2px 3px #dddddd;
  -moz-box-shadow:inset 0px 2px 3px #dddddd;
  border-style:none;
  border-radius:0px;
}
#lp-pom-form-26 .lp-pom-form-field input[type=text] { border-style:none; }
#lp-pom-form-26 .lp-pom-form-field select { border-style:none; }
#lp-pom-form-26 .form_elem_nombre_completo {
  top:22px;
  left:0px;
  width:254px;
  font-size:15px;
  line-height:15px;
  height:40px;
  padding-left:12px;
  padding-right:12px;
}
#lp-pom-form-26 .form_elem_correo_electronico {
  top:22px;
  left:0px;
  width:254px;
  font-size:15px;
  line-height:15px;
  height:40px;
  padding-left:12px;
  padding-right:12px;
}
#lp-pom-form-26 .form_elem_telefono_celular_u_oficina {
  top:22px;
  left:0px;
  width:254px;
  font-size:15px;
  line-height:15px;
  height:40px;
  padding-left:12px;
  padding-right:12px;
}
#lp-pom-form-26 .form_elem_rcf {
  top:22px;
  left:0px;
  width:254px;
  font-size:15px;
  line-height:15px;
  height:40px;
  padding-left:12px;
  padding-right:12px;
}
#lp-pom-form-26 .form_elem_contrasena {
  top:22px;
  left:0px;
  width:254px;
  font-size:15px;
  line-height:15px;
  height:40px;
  padding-left:12px;
  padding-right:12px;
}
#lp-pom-form-26 #label_nombre_completo {
  height:22px;
  top:0px;
  width:auto;
}
#lp-pom-form-26 #label_correo_electronico {
  height:22px;
  top:0px;
  width:auto;
}
#lp-pom-form-26 #label_telefono_celular_u_oficina {
  height:22px;
  top:0px;
  width:auto;
}
#lp-pom-form-26 #label_rcf {
  height:22px;
  top:0px;
  width:auto;
}
#lp-pom-form-26 #label_contrasena {
  height:22px;
  top:0px;
  width:auto;
}
#lp-pom-form-26 #container_nombre_completo {
  width:280px;
  height:62px;
  top:0px;
}
#lp-pom-form-26 #container_correo_electronico {
  width:280px;
  height:62px;
  top:82px;
}
#lp-pom-form-26 #container_telefono_celular_u_oficina {
  width:280px;
  height:62px;
  top:164px;
}
#lp-pom-form-26 #container_rcf {
  width:280px;
  height:62px;
  top:246px;
}
#lp-pom-form-26 #container_contrasena {
  width:280px;
  height:62px;
  top:328px;
}
