#menu_btn_acerca {
  width: 140px !important;
}

#menu_btn_facturacion_electronica {
  width: 205px !important;
}

#menu_btn_faq {
  width: 205px !important;
}

#menu_btn_vacio {
  max-width: 20px !important;
}

#menu_btn_vacio:hover {
  max-width: 20px !important;
  background-color: #26a0c9;
  border-color: #26a0c9;
}

#div-blue-bg {
  width: 100%;
  min-width: 700px;
  background-color: #dff5ff;
  padding: 10px;
}

.subtitulo-registro-empresa {
  color: #008bd1;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: normal;
  text-align: left;
  vertical-align: middle;
  padding-bottom: 60px;
  position: relative;
  left: -8px;
}

.font-bold{
  font-weight: bold;
}

.btn-aqua{
  color: #fff;
  background-color: #00aeff;;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-bottom: 3px solid #028ecf;
}

.btn-aqua:hover{
  color: #fff !important;
  background: #0096dc;
  border-bottom: 3px solid #017db7;
}

.btn-aqua:focus {
  color: #fff !important;
}

.btn-amarillo {
  color: #fff !important;
  background: #fdb24c;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-bottom: 3px solid #db9102;
}

.btn-amarillo:hover {
    background: #fbbb3f;
    transition: all 0.2s ease 0s;
}

.btn-amarillo:focus {
  color: #fff !important;
}

.label-right {
  text-align: right !important;
}

.required-star {
  color: red;
}

#div-registro-submit {
  position: relative;
  right: 25px;
}

.span-datos-obligatorios {
  position: relative;
  right: 25px;
}

.div-confirmacion > div  {
  left: 20px;
   max-width: 1120px !important;
   position: relative;
}

.div-aviso-confirmacion > div {
  max-width: 1120px !important;
  position: relative;
}

.footer-confirmacion {
  border-top: 1px solid #e4e4e4;
   bottom: 8px;
   max-width: 1120px;
   padding-top: 3px;
   position: absolute;
   width: 1170px;
}

.llama-gratis {
  color: #999;
  display: inline-block;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 18px;
  font-weight: lighter;
}

.tel-llama-gratis {
  color: #000;
  display: inline-block;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 18px;
  font-weight: bold;
}

#div-llama-registro-simple {
  left: 300px;
  position: relative;
  top: 3px;
}

#div-botones-registro-simple {
  float:right;
  position: relative;
  left: 12px;
}

#div-llama-registro-simple-confirmacion {
  left: 320px;
  top: 3px;
  position: relative;
}

.btn-prueba-gratis {
  background-color: #f3a841;
  color: #fff;
  text-decoration: none;
  width: 200px;
  font-weight: bold;
}

.btn-acceso {
  background-color: #6d6e70;
  color: #fff;
  text-decoration: none;
  width: 100px;
  font-weight: bold;
}

.btn-prueba-gratis:hover, .btn-acceso:hover  {
  color: #fff !important;
}


/* CSS Document */
#TODO_SignIn #empresas_prospectos_rfc{
  text-transform: uppercase;
}

.videoRegistro{
  width: 100%;
  overflow-y: hidden;
  height: 89%;
  top: 71px;
  left: 0;
  object-fit: fill;
}

.backOverlay{
  background-color: #000;
    opacity: 0.6;
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 1;
}
.padding_contenedor_registro{
  padding-top: 5px!important;
  min-height: 0px!important;
}


#div-confirmacion-container .move-left{
  margin-right: 20px;
  width: 190px;
  text-align: right;
}
#div-confirmacion-container .move-right{
  margin-left: 20px;
}
#div-confirmacion-container .table_detalle b {
  float: right;
}
#div-confirmacion-container .table_detalle {
  color: grey;
  animation: intro_text_detalle 2s;
  font-family: ubuntu;
}
#div-confirmacion-container .td-left {
  float:left;
}

#div-confirmacion-container .table_detalle p {
  float: left;
  border: 1px solid #d1d1d1;
  padding: 15px;
  border-radius: 5px;
}
.logo_header {
  height: 50px;
  width: auto;
}
#div-confirmacion-container img{
  width: auto;
}
.empresa_encabezado {
  background-color: #F9F9F9;
  padding: 10px 0;
  animation: encabezado_empresa .5s;
  transform-origin: top;
  box-shadow: 0px 0px 20px #D1D1D1;
}
/* Se agrega margen a la izquierda para que el logo en la pagina de registro y de confirmacion esten centrados en el mismo punto*/
.center-logo{
  margin-left: 14px;
}
#div-confirmacion-container #mensaje_approve_img {
  height: 100px;
  animation: intro_checkmark 1s cubic-bezier(1, 0, 0, 1);
  margin: 30px 0;
}
#div-confirmacion-container #boton_accesso_sistema {
  border-radius: 4px;
  padding: 15px 35px;
  border: none;
  box-shadow: 0px 5px #db9102;
  background-color: #fdb24c;
  transition: all .5s;
  margin: 15px 0;
  color: white;
  font-weight: bold;
  font-family: ubuntu;
  animation: intro_textos_boton 2s;
}
#div-confirmacion-container #boton_accesso_sistema:hover {
  background-color: #db9102;
}
#div-confirmacion-container #boton_accesso_sistema:active {
  transform: translateY(5px);
}
#div-confirmacion-container .table_detalle h2 {
  color: #00aeff;
}
#div-confirmacion-container .primer_titulo {
  background-color: #98bc24;
  padding: 5px;
  border-radius: 10px;
  font-family: ubuntu;
  animation: intro_textboxes 1s cubic-bezier(1, 0, 0, 1);
}
#div-confirmacion-container .primer_titulo h2 {
  color: white !important;
  padding: 5px 0;
  font-size: 1.6em;
}
#div-confirmacion-container .segundo_titulo {
  animation: intro_textboxes 1.5s cubic-bezier(1, 0, 0, 1);
  font-family: ubuntu;
  background-color: #00aeff;
  border-radius: 10px;
  color: white !important;
  padding: 1px;
}
#div-confirmacion-container .segundo_titulo h3 {
  padding: 10px;
  color: white !important;
  font-size: 1.3em;
}
#div-confirmacion-container .row > .segundo_titulo {
  margin: 40px 0;
}
#div-confirmacion-container .button_text {
  color: #444444;
  animation: intro_textos_boton 2s;
}
#div-confirmacion-container .row {
  padding: 0 100px;
}

#div-confirmacion-container table{
  margin: 0 auto;
}

#div-confirmacion-container .row {
  width: 100%;
  max-width:100%; /* max Width of row, Change to what you like */
  margin:0 auto;
}

#div-confirmacion-container .footer_confirmacion{
  height:30px;
  width:95%;
  padding: 10px;
  margin: 0 auto;
  border-top: solid 1px lightgray;
}
.registro-shadow{
  box-shadow: 0px 0px 20px #D1D1D1;
}
@keyframes intro_checkmark {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes intro_text_detalle {
  from {
    transform: scale(0, 1);
  }
  to {
    transform: scale(1, 1);
  }
}
@keyframes intro_textboxes {
  from {
    transform: scale(0, 0);
  }
  to {
    transform: scale(1, 1);
  }
}
@keyframes intro_textos_boton {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes encabezado_empresa {
  from {
    transform: scale(1, 0);
  }
  to {
    transform: scale(1, 1);
  }
}
