.planes_text_style {
  font-family: ubuntu;
  text-decoration: none;
}
.planes_text_style a:hover{
  text-decoration: none;
}

.hr_estilo_planes{
  border-color: #e0e0e0;
  opacity: .2;
}
#planes_admin_titulo{
  color: #30a0c7;
}
#planes_admin_input{
  color: #30a0c7;
}
.cuadro_blanco_fondo{
  background:white;
}
#planes_boton_activo{
  margin-top:30px;
  position: absolute;
  right:-50px;
}
#switch_verde_posicion{
  position:absolute;
  top:100px;
  right: -100px;
}
 #importa_planes_texto{
   position:absolute;
   top:120px;
   right: 30px;
   left:50px;
   color: #808080;
   font-size: 12px;}
#datos_izquierda {
  float: left;
}

#tarjeta_no_padding {
  padding: 0px;
}

#tarjeta_alineacion {
  width: 650px;
  position: absolute;
  margin-left: 500px;
}

#estado_cuenta_alineacion_extra {
  width: 400px;
  margin-top: 70px;
}

#estado_cuenta_alineacion {
  width: 450px;
  position: absolute;
  left: -15px;
}

#planes_tarjeta_margin {
  margin-bottom: 25px;
}

.reposicion_usuario_adicional_usuario, .reposicion_usuario_adicional_notplus, .reposicion_usuario_adicional_text, .reposicion_usuario_adicional {
  display: inline-block;
}

#adminSAT_fila {
  bottom: 10px;
}

#sincroniza_adminSAT {
  margin-right: -45px;
}

.opciones_plan h4 {
  font-family: Ubuntu;
  font-weight: bold;
  font-size: 18px;
  color: #FDB24C;
}

.opciones_plan span {
  font-family: Ubuntu;
  font-weight: bold;
  font-size: 13px;
  line-height: 15.81px;
  letter-spacing: 0.03px;
  color: #7F7F7F;
  color: rgb(127, 127, 127);
}

.planes_fondo_naranja {
  background-color: #fff0de;
  width: 450px !important;
}

.planes_fondo_no_naranja {
  width: 450px !important;
}

.planes_linea {
  border-color: #e0e0e0;
  opacity: .4;
  width: 450px;
}

#plan_plan_admin_titulo {
  color: #FDB24C;
  font-size: 18px;
}

#plan_plan_admin_input {
  color: #FDB24C;
  font-size: 18px;
}

#titulo_planes_funciones {
  font-family: Ubuntu;
  font-weight: bold;
  font-size: 22px;
  color: #fdb24c;
  color: #fdb24c;

}
ul.planes_mensuales_lista {
  list-style-image: url("/img/planes_flecha.png");
}
ul.planes_mensuales_lista_naranja {
  list-style-image: url("/img/planes_flecha_naranja.png");
}

  ul.planes_mensuales_lista_factura {
  list-style-image: url("/img/planes_flecha.png");
  list-style-position: inside;
}

#span_planes_funciones {
  display: inline-block;
  position: relative;
  left: 20px;
}

.planes_mensuales_lista li {
  padding: 6px 0;
}

.planes_mensuales_lista_naranja li {
  padding: 6px 0;
}

.planes_mensuales_lista_factura li {
  padding: 6px 0;
}

.menu_planes_botones {
  padding: 25px 0 !important;
  text-align: center;
  color: white;
  margin: 0;
  cursor: pointer;
  font-family: ubuntu;
  font-size: 15.5px;
}
.menu_planes_botones p{
margin-top:-4px;
}
.menu_planes_botones:hover {
  background: #00c4f0;
  background: -moz-radial-gradient(center, ellipse cover, #00c4f0 0%, #0eadd7 50%, #009ecf 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #00c4f0 0%, #0eadd7 50%, #009ecf 100%);
  background: radial-gradient(ellipse at center, #00c4f0 0%, #0eadd7 50%, #009ecf 100%);
  font-weight: bold;
  box-shadow: 1px 0 30px #589CCB;
}

.active_button {
  height: 60px;
  background: #00c4f0;
  background: -moz-radial-gradient(center, ellipse cover, #00c4f0 0%, #0eadd7 50%, #009ecf 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #00c4f0 0%, #0eadd7 50%, #009ecf 100%);
  background: radial-gradient(ellipse at center, #00c4f0 0%, #0eadd7 50%, #009ecf 100%);
  font-weight: bold;
  box-shadow: 1px 0 30px #589CCB;
}

.menu_planes_contenedor {
  height: 60px;
  width: 720px !important;
  padding: 0 !important;
  background: #00dcf0;
  background: -moz-radial-gradient(center, ellipse cover, #00dcf0 0%, #00c8ee 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #00dcf0 0%, #00c8ee 100%);
  background: radial-gradient(ellipse at center, #00dcf0 0%, #00c8ee 100%);
  border-radius: 10px;
  overflow: hidden;
}

#planes_header_actual {
  width: 1000px !important;
  padding: 10px;
  color: white;
  border-radius: 10px 10px 0 0;
  background: #00c4f0;
  background: -moz-radial-gradient(center, ellipse cover, #00c4f0 0%, #0eadd7 50%, #009ecf 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #00c4f0 0%, #0eadd7 50%, #009ecf 100%);
  background: radial-gradient(ellipse at center, #00c4f0 0%, #0eadd7 50%, #009ecf 100%);
}

#planes_header_actual_estado {
  margin-bottom:20px;
  color: #30A0C7;
  border-radius: 10px 10px 0 0;
  font-weight: bold;
  font-size: 30px;
  padding-top: 50px;
  padding-left: 10px;
}

#planes_body_actual {
  width: 1000px !important;
  padding: 30px;
  margin-bottom: 20px;
  height: 950px;
  border-radius: 0 0 10px 10px;
  background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #f4f4f4 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%, #f4f4f4 100%);
  background: radial-gradient(ellipse at center, #ffffff 0%, #f4f4f4 100%);
}

#planes_titulo_actual {
  font-weight: bold;
  font-size: 50px;
  padding-bottom: 5px;
  color: #30A0C7;
  color: rgb(48, 160, 199);
}

.planes_input_actual {
  font-weight: bold;
  font-size: 15px;
  color: #30a0c7;
  display: inline;
}

.planes_respuesta_actual {
  font-weight: bold;
  font-size: 15px;
  color: #8cc63f;
  display: inline;
}

.planes_boton_azul {
  transition: all .2s;
  text-decoration: none;
  padding: 0px 40px 0px 40px;
  color: #30a0c7;
  font-size: 15px;
  font-weight: bold;
  border-style: Solid;
  border-color: #30A0C7;
  border-color: rgba(48, 160, 199, 1);
  border-width: 1px;
  border-radius: 28px;
  -moz-border-radius: 28px;
  -webkit-border-radius: 28px;
  display: inline-block;
  background-color: transparent;
  line-height: 50px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

#planes_boton_azul_inactivo {
  margin-top:30px;
  position: absolute;
  right:-50px;
  text-decoration: none;
  padding: 0px 40px 0px 40px;
  color: grey;
  font-size: 15px;
  font-weight: bold;
  border-style: Solid;
  border-color: grey;
  border-width: 1px;
  border-radius: 28px;
  -moz-border-radius: 28px;
  -webkit-border-radius: 28px;
  display: inline-block;
  background-color: transparent;
  line-height: 50px;
  text-align: center;
  margin-bottom: 20px;
  cursor: default;
}

.planes_boton_azul:hover {
  color: #ffff!important;
  background: #30a0c7!important;
  cursor: pointer;
  transform: scale(.95)!important;
}

#planes_beneficios_contenedor {
  border-radius: 10px 10px 10px 10px;
  padding-top: 1px;
  padding-bottom: 30px;
  background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #f4f4f4 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%, #f4f4f4 100%);
  background: radial-gradient(ellipse at center, #ffffff 0%, #f4f4f4 100%);
}

#planes_beneficios_banner {
  width: 400px;
  position: absolute;
  right: -188px;
  padding: 20px;
  color: white;
  text-align: center;
  background: #8CC63F;
  border-radius: 32px 0 0 32px;
  -moz-border-radius: 32px 0 0 32px;
  -webkit-border-radius: 32px 0 0 32px;
}

#planes_beneficios_texto {
  color: #808080;
  font-size: 15px;
  position: absolute;
  right: -75px;
  padding-top: 80px;
  text-align: right;
}

/* The switch_verde - the box around the slider_verde */
.switch_verde {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: 20px;
  margin-left: 200px;
}

/* Hide default HTML checkbox */
.switch_verde input {
  display: none;
}

/* The slider_verde */
.slider_verde {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider_verde:before {
  position: absolute;
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider_verde {
  background-color: #8CC63F;
}

input:focus+.slider_verde {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider_verde:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded slider_verdes */
.slider_verde.round {
  border-radius: 34px;
}

.slider_verde.round:before {
  border-radius: 50%;
}

#planes_slider_text {
  font-size: 12px;
  color: #808080;
  margin-top: 148px;
  margin-left: 430px;
}

.planes_input_titulo {
  font-size: 20px;
  color: #30A0C7;
}

.planes_input_subtitulo {
  color: #808080;
  font-size: 15px;
}

/*---------- PLANES MENSUALES------------- */
.planes_circulo {
  background: -moz-radial-gradient(50% 50%, circle farthest-corner, rgba(0, 179, 240, 1) 0.77%, rgba(14, 173, 215, 1) 53.54%, rgba(0, 158, 207, 1) 99.8%);
  background: -webkit-radial-gradient(50% 50%, circle farthest-corner, rgba(0, 179, 240, 1) 0.77%, rgba(14, 173, 215, 1) 53.54%, rgba(0, 158, 207, 1) 99.8%);
  background: -webkit-gradient(radial, 50% 50%, 0.58, 50% 50%, 74.65, color-stop(0.0077, rgba(0, 179, 240, 1)), color-stop(0.5354, rgba(14, 173, 215, 1)), color-stop(0.998, rgba(0, 158, 207, 1)));
  background: -o-radial-gradient(50% 50%, circle farthest-corner, rgba(0, 179, 240, 1) 0.77%, rgba(14, 173, 215, 1) 53.54%, rgba(0, 158, 207, 1) 99.8%);
  background: -ms-radial-gradient(50% 50%, circle farthest-corner, rgba(0, 179, 240, 1) 0.77%, rgba(14, 173, 215, 1) 53.54%, rgba(0, 158, 207, 1) 99.8%);
  background: radial-gradient(50% 50%, circle farthest-corner, rgba(0, 179, 240, 1) 0.77%, rgba(14, 173, 215, 1) 53.54%, rgba(0, 158, 207, 1) 99.8%);
  border-radius: 100%;
  width: 150px;
  height: 150px;
  margin-top: 20px;
}

.planes_circulo_naranja {
  background: white;
  border-radius: 100%;
  width: 150px;
  height: 150px;
  margin-top: 20px;
}

.planes_mensuales_titulo {
  font-weight: bold;
  font-size: 15px;
  color: #FFFFFF;
  text-align: center;
  padding-top: 35px;
}

.planes_mensuales_titulo_naranja {
  font-weight: bold;
  font-size: 15px;
  color: #fdb24c;
  text-align: center;
  padding-top: 20px;
}

.planes_mensuales_precio {
  font-weight: bold;
  font-size: 43px;
  letter-spacing: -2.17px;
  color: #FFFFFF;
  text-align: center;
  margin-top:-20px;
}

.planes_mensuales_precio_naranja {
  font-weight: bold;
  font-size: 53px;
  letter-spacing: -2.17px;
  color: #fdb24c;
  text-align: center;
  margin-top:-20px;
}

.planes_mensuales_iva {
  font-weight: bold;
  font-size: 12px;
  color: #FFFFFF;
  text-align: center;
  margin-top:-20px;
}

.planes_mensuales_iva_naranja {
  font-weight: bold;
  font-size: 12px;
  color: #fdb24c;
  text-align: center;
  margin-top:-20px;
}

.planes_mensuales_cuadro {
  background: #F4F4F4;
  border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  height: 1000px;
  margin-left: 12px;
  width: 210px !important;
  margin-top: 20px;
}
.linea_gris_planes{
  border-color: #B3B3B3;
   border-width: 2px;
   width: 50%

}
.planes_factura_cuadro {
  margin-top: 20px;
  width: 300px !important;
  background: #F4F4F4;
  border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  padding: 30px;
  height: 700px;
  margin-left: 20px;
}

.planes_mensuales_cuadro_naranja {
  margin-top: 20px;
  background: #fdb24c;
  border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  height: 1000px;
  margin-left: 12px;
  width: 210px !important;
}

.planes_mensuales_timbres {
  margin-top:16px;
  font-size: 14px;
  font-weight: 400;
  color: #30A0C7;
  padding-top: 15px;
}
.linea_timbres_sin{
width: 100%;
padding-top:28px;
}
.linea_timbres{
width: 100%;
}
.planes_mensuales_timbres_naranja {
  font-size: 14px;
  font-weight: 400;
  color: white;
  padding-top: 15px;
}
.mensuales_lista_margen{
  margin-top:-15px;
}
#mensuales_li_especial{
  color: #e05a00; font-size:17px;
}
#planes_mensuales_lista_chico{
  font-weight: 300;
}
.planes_mensuales_lista_titulo{
  font-weight: bold;
  font-size: 14px;
  padding: 20px;
  text-align: left !important;
  margin-top:-20px;
  margin-bottom:-25px;
  color: #8cc63f;
}
.planes_mensuales_lista {
  font-weight: bold;
  font-size: 14px;
  color: #30A0C7;
  padding: 20px;
  text-align: left !important;
}

.planes_mensuales_lista_factura {
  font-weight: bold;
  font-size: 14px;
  color: #30A0C7;
  padding: 20px;
  text-align: center !important;
}

.planes_mensuales_lista_naranja {
  font-weight: bold;
  font-size: 14px;
  color: white;
  padding: 20px;
  text-align: left !important;
}



.planes_anadir_texto {
  font-size: 12px;
  color: #B3B3B3;
  text-align: center;
}

.planes_mensuales_boton {
  margin-left: -130px !important;
}

.planes_adminSAT {
  margin-top: -75px;
}

.planes_adminSAT_factura {
  margin-top: -40px;
}

.planes_adminSAT_descripcion {
  margin-left: 70px;
  text-align: left;
  margin-right: 10px;
}

.planes_adminSAT_descripcion_factura {
  margin-left: 30px;
  text-align: left;
  padding-right: 50px;
}

.planes_seccion_anade {
  position: absolute;
  bottom: 120px;
}

.planes_boton_naranja {
  text-decoration: none;
  transition: all .2s;
  padding: 0px 40px 0px 40px;
  color: white;
  background: #f78100;
  border-radius: 28px;
  -moz-border-radius: 28px;
  -webkit-border-radius: 28px;
  font-size: 15px;
  font-weight: bold;
  display: inline-block;
  line-height: 50px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  box-shadow: 0 0 7px 7px rgba(255, 201, 105, 0.4);
}

.planes_boton_naranja:hover {
  transform: scale(.95);
  color: #ffff;
  background: #f9922d!important;
  cursor: pointer;
}

#banner_planes {
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
}

#banner_planes_texto {
  font-weight: bold;
  font-size: 13px;
  color: #FFFFFF;
  position: absolute;
  left: 7px;
  margin-top:-15px;

}

.planes_mensuales_cuadro_estatus {
  margin-top: 20px;
  width: 315px !important;
  background: #F4F4F4;
  border-radius: 0px 46px 46px 0px;
  -moz-border-radius: 0px 46px 46px 0px;
  -webkit-border-radius: 0px 46px 46px 0px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.planes_estatus_texto {
  font-weight: bold;
  font-size: 14px;
  color: #30A0C7;
  text-align: left !important;
}

/*----------- CARLOS -------------- */
.seccion_pago_plan {
  border-bottom: 1px solid grey;
  cursor: pointer;
}

/*
.seccion_pago_plan:hover {
background-color: #f2f2f2;
}*/
/*
.seccion_pago_plan:active {
background-color: #d1d1d1;
}
*/
.seccion_pago_plan p {
  display: inline-block;
  font-family: Ubuntu;
  font-weight: bold;
  font-size: 21px;
  color: #629EC3;
  vertical-align: middle;
  padding: 35px 0;
}

.seccion_pago_plan img {
  display: inline-block;
  float: right;
  width: 30px;
  padding: 30px 0;
  vertical-align: middle;
}

.plan_datos_bancarios {
  font-family: Ubuntu;
  font-size: 20px;
  color: #629EC3;
  display: inline-block;
  vertical-align: middle;
  float: left;
}

.plan_datos_bancarios b {
  color: rgb(98, 158, 195);
}

.datos_bancarios_left {
  font-family: Ubuntu;
  font-size: 20px;
  color: #4E4E4E;
  color: rgb(78, 78, 78);
}

#plan_nombre_empresa {
  font-family: Ubuntu;
  font-size: 12px;
  color: #629EC3;
  color: rgb(98, 158, 195);
}

.seccion_inferior {
  border-bottom: 1px solid grey !important;
}

#contenedor_datos_bancarios {
  padding: 20px;
  border-radius: 15px;
  background: -moz-radial-gradient(50% 37.86%, circle farthest-corner, rgba(255, 255, 255, 1) 0%, rgba(244, 244, 244, 1) 91.9%, rgba(243, 243, 243, 1) 98.57%);
  background: -webkit-radial-gradient(50% 37.86%, circle farthest-corner, rgba(255, 255, 255, 1) 0%, rgba(244, 244, 244, 1) 91.9%, rgba(243, 243, 243, 1) 98.57%);
  background: -webkit-gradient(radial, 50% 37.86%, 0, 50% 37.86%, 220.17, color-stop(0, rgba(255, 255, 255, 1)), color-stop(0.919, rgba(244, 244, 244, 1)), color-stop(0.9857, rgba(243, 243, 243, 1)));
  background: -o-radial-gradient(50% 37.86%, circle farthest-corner, rgba(255, 255, 255, 1) 0%, rgba(244, 244, 244, 1) 91.9%, rgba(243, 243, 243, 1) 98.57%);
  background: -ms-radial-gradient(50% 37.86%, circle farthest-corner, rgba(255, 255, 255, 1) 0%, rgba(244, 244, 244, 1) 91.9%, rgba(243, 243, 243, 1) 98.57%);
  background: radial-gradient(50% 37.86%, circle farthest-corner, rgba(255, 255, 255, 1) 0%, rgba(244, 244, 244, 1) 91.9%, rgba(243, 243, 243, 1) 98.57%);
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

#contenedor_paypal {
  background: -moz-radial-gradient(50.86% 50%, circle farthest-corner, rgba(249, 249, 249, 1) 0%, rgba(233, 233, 233, 1) 98.57%);
  background: -webkit-radial-gradient(50.86% 50%, circle farthest-corner, rgba(249, 249, 249, 1) 0%, rgba(233, 233, 233, 1) 98.57%);
  background: -webkit-gradient(radial, 50.86% 50%, 0, 50.86% 50%, 158.02, color-stop(0, rgba(249, 249, 249, 1)), color-stop(0.9857, rgba(233, 233, 233, 1)));
  background: -o-radial-gradient(50.86% 50%, circle farthest-corner, rgba(249, 249, 249, 1) 0%, rgba(233, 233, 233, 1) 98.57%);
  background: -ms-radial-gradient(50.86% 50%, circle farthest-corner, rgba(249, 249, 249, 1) 0%, rgba(233, 233, 233, 1) 98.57%);
  background: radial-gradient(50.86% 50%, circle farthest-corner, rgba(249, 249, 249, 1) 0%, rgba(233, 233, 233, 1) 98.57%);
  border-radius: 9px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  padding: 30px;
}

#paypal_btn {
  background-color: #F0C349;
  color: white;
  padding: 15px 55px;
  border: none;
  border-radius: 30px;
}

#plan_contenedor_tarjeta {
  background: -moz-radial-gradient(50% 50%, circle farthest-corner, rgba(255, 255, 255, 1) 0%, rgba(244, 244, 244, 1) 91.9%, rgba(243, 243, 243, 1) 98.57%);
  background: -webkit-radial-gradient(50% 50%, circle farthest-corner, rgba(255, 255, 255, 1) 0%, rgba(244, 244, 244, 1) 91.9%, rgba(243, 243, 243, 1) 98.57%);
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 211.07, color-stop(0, rgba(255, 255, 255, 1)), color-stop(0.919, rgba(244, 244, 244, 1)), color-stop(0.9857, rgba(243, 243, 243, 1)));
  background: -o-radial-gradient(50% 50%, circle farthest-corner, rgba(255, 255, 255, 1) 0%, rgba(244, 244, 244, 1) 91.9%, rgba(243, 243, 243, 1) 98.57%);
  background: -ms-radial-gradient(50% 50%, circle farthest-corner, rgba(255, 255, 255, 1) 0%, rgba(244, 244, 244, 1) 91.9%, rgba(243, 243, 243, 1) 98.57%);
  background: radial-gradient(50% 50%, circle farthest-corner, rgba(255, 255, 255, 1) 0%, rgba(244, 244, 244, 1) 91.9%, rgba(243, 243, 243, 1) 98.57%);
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
}

.plan_tarjeta_botones_contenedor {
  margin: 30px 0;
}

.plan_tarjeta_botones_contenedor button:hover {
  font-weight: bold
}

.plan_tarjeta_botones_contenedor button {
  width: 230px;
  padding: 22px 0;
  border-radius: 40px;
  color: white;
  border: none;
  border-radius: 32px;
  font-size: 18px;
}

#plan_cancelar_btn {
  background-color: #A52B31;
  float: right;
  transition: all .2s;
  cursor: pointer;
}

#plan_editar_btn {
  transition: all .2s;
  background-color: #9DC44D;
  cursor: pointer;
}

#plan_pagar_btn {
  transition: all .2s;
  background-color: #fdb24c;
  cursor: pointer;
}

#plan_cancelar_btn:hover {
  background-color: rgb(119, 21, 26);
}

#plan_editar_btn:hover {
  background-color: rgb(114, 151, 38);
}

#plan_pagar_btn:hover {
  background-color: rgb(221, 158, 56);
}

#plan_cancelar_btn:active {
  transform: scale(.95);
}

#plan_editar_btn:active {
  transform: scale(.95);
}

#plan_pagar_btn:active {
  transform: scale(.95);
}

.btn_desaparece {
  display: none;
}

.plan_tarjeta {
  height: 400px;
  padding: 35px;
}

.input_tarjeta {
  font-size: 20px;
}

#s_code_plan .input_tarjeta {
  background-color: white;
  border-top: none;
  border-left: none;
  height: 40px;
  width: 23%;
  margin: 15px 0;
  border-right: none;
  border-bottom: 1px solid grey;
  font-family: ubuntu;
  font-weight: bold;
  text-align: center;
}

#num_tarjeta_plan .input_tarjeta {
  background-color: white;
  border-top: none;
  border-left: none;
  height: 40px;
  width: 23%;
  margin: 15px 0;
  border-right: none;
  border-bottom: 1px solid grey;
  font-family: ubuntu;
  font-weight: bold;
  text-align: center;
  letter-spacing: 10px;
}

#nombre_tarjetahabiente .input_tarjeta {
  background-color: white;
  border-top: none;
  border-left: none;
  height: 40px;
  width: 100%;
  margin: 15px 0;
  border-right: none;
  border-bottom: 1px solid grey;
  font-family: ubuntu;
  font-weight: bold;
  text-align: center;
}

#nombre_tarjetahabiente select {
  font-family: ubuntu;
  height: 40px;
  font-weight: bold;
  padding: 0 15px;
  display: inline-block;
  vertical-align: middle;
  margin-top: 5px;
}

#nombre_tarjetahabiente img {
  width: 40px;
  margin: 0 10px;
  display: inline-block;
  vertical-align: middle;
}

/* LADO IZQUIERDO*/
.contenedor_fila img {
  display: inline-block;
}

.contenedor_fila h4 {
  display: inline-block;
}

.contenedor_fila span {
  display: inline-block;
}

.menu_plan_botones {
  padding: 25px 0 !important;
  text-align: center;
  color: white;
  margin: 0;
  cursor: pointer;
  font-family: ubuntu;
  font-size: 15.5px;
}

.menu_plan_botones:hover {
  background: #00c4f0;
  background: -moz-radial-gradient(center, ellipse cover, #00c4f0 0%, #0eadd7 50%, #009ecf 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #00c4f0 0%, #0eadd7 50%, #009ecf 100%);
  background: radial-gradient(ellipse at center, #00c4f0 0%, #0eadd7 50%, #009ecf 100%);
  font-weight: bold;
  box-shadow: 1px 0 30px #589CCB;
}

.menu_plan_contenedor {
  padding: 0 !important;
  background: #00dcf0;
  background: -moz-radial-gradient(center, ellipse cover, #00dcf0 0%, #00c8ee 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #00dcf0 0%, #00c8ee 100%);
  background: radial-gradient(ellipse at center, #00dcf0 0%, #00c8ee 100%);
  border-radius: 10px;
  overflow: hidden;
}

#plan_header_actual {
  width: 450px;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  color: white;
  border-radius: 10px 10px 0 0;
  background: -moz-radial-gradient(50% 50%, circle farthest-corner, rgba(236, 198, 73, 1) 0%, rgba(234, 191, 79, 1) 44.38%, rgba(231, 174, 92, 1) 99.76%);
  background: -webkit-radial-gradient(50% 50%, circle farthest-corner, rgba(236, 198, 73, 1) 0%, rgba(234, 191, 79, 1) 44.38%, rgba(231, 174, 92, 1) 99.76%);
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 212.23, color-stop(0, rgba(236, 198, 73, 1)), color-stop(0.4438, rgba(234, 191, 79, 1)), color-stop(0.9976, rgba(231, 174, 92, 1)));
  background: -o-radial-gradient(50% 50%, circle farthest-corner, rgba(236, 198, 73, 1) 0%, rgba(234, 191, 79, 1) 44.38%, rgba(231, 174, 92, 1) 99.76%);
  background: -ms-radial-gradient(50% 50%, circle farthest-corner, rgba(236, 198, 73, 1) 0%, rgba(234, 191, 79, 1) 44.38%, rgba(231, 174, 92, 1) 99.76%);
  background: radial-gradient(50% 50%, circle farthest-corner, rgba(236, 198, 73, 1) 0%, rgba(234, 191, 79, 1) 44.38%, rgba(231, 174, 92, 1) 99.76%);
  border-radius: 12px 12px 0px 0px;
  -moz-border-radius: 12px 12px 0px 0px;
  -webkit-border-radius: 12px 12px 0px 0px;
}

/* The switch_orange - the box around the slider_orange */
.switch_orange {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: 10px;
  margin-left: 70px;
}

/* Hide default HTML checkbox */
.switch_orange input {
  display: none;
}

/* The slider_orange */
.slider_orange {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider_orange:before {
  position: absolute;
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider_orange {
  background-color: rgb(233, 175, 84);
}

input:checked+.slider_orange:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded slider_oranges */
.slider_orange.round {
  border-radius: 34px;
}

.slider_orange.round:before {
  border-radius: 50%;
}

.plan_input_titulo {
  font-size: 30px;
  color: #30A0C7;
}

.plan_input_subtitulo {
  color: #808080;
  font-size: 15px;
}

/*---------- plan MENSUALES------------- */
.bottom_boton {
  position: absolute;
  bottom: 20px;
  left: 40px;
}

.bottom_boton_factura {
  position: absolute;
  bottom: 20px;
  left: 80px;
}

#plan_plan_precio_titulo {
  color: #fdb24c;
}

#plan_plan_total_input {
  font-family: Ubuntu;
  font-weight: bold;
  font-size: 45px;
  line-height: 56.14px;
  color: #fdb24c;
}

#plan_plan_precio_input {
  font-family: Ubuntu;
  font-size: 45px;
  line-height: 56.14px;
  color: #fdb24c;
  margin: 15px 0;
}

#plan_plan_precio_titulo {
  font-family: Ubuntu;
  font-size: 45px;
  margin: 15px 0;
  line-height: 56.14px;
  color: #fdb24c;
}

#plan_plan_adicionales_titulo,
#plan_plan_adicionales_input,
#plan_plan_extras_titulo,
#plan_plan_extras_input,
#plan_plan_subtotal_titulo,
#plan_plan_subtotal_input,
#plan_plan_iva_titulo,
#plan_plan_iva_input,
#plan_plan_saldo_titulo,
#plan_plan_saldo_input,
#plan_plan_total_titulo,
#plan_plan_uadicionales_titulo,
#plan_plan_uadicionales_input {
  font-family: Ubuntu;
  font-size: 18px;
  line-height: 21.01px;
  color: #7F7F7F;
}

.opciones_plan {
  padding: 10px 0;
}

.plan_line {
  width: 40%;
}

.opciones_plan h4 {
  margin: 10px;
  display: inline-block;
  position: relative;
  color: #fdb24c;
}

.opciones_plan:last-child img {
  display: inline-block;
  position: relative;
  right: 110px;
}

.opciones_plan:last-child h4 {
  display: inline-block;
  position: relative;
  right: 110px;
}

.reposicion_usuario_adicional_icono {
  left: -55px;
}

.reposicion_usuario_adicional_usuario {
  color: #BFBFBF !important;
  left: -50px;
}

.reposicion_usuario_adicional_notplus img {
  cursor: pointer;
  left: 0px;
  transition: all .5s;
}

.reposicion_usuario_adicional_text span {
  display: inline-block;
  position: relative;
  left: 13px;
  bottom: 10px;
}

.reposicion_usuario_adicional img {
  left: 30px;
  transition: all .5s;
  cursor: pointer;
}

.reposicion_usuario_adicional_notplus img:hover {
  transform: scale(1.2);
}

.reposicion_usuario_adicional img:hover {
  transform: scale(1.2);
}

.mensaje_tarjeta {
  font-family: Ubuntu;
  font-size: 13px;
  line-height: 15.81px;
  letter-spacing: 0.03px;
  color: #7F7F7F;
  margin-top: 25px;
}

#seccion_dbancarios_label p {
  width: 90%;
}

#seccion_numero_label p {
  width: 90%;
}

#seccion_tarjeta_label p {
  width: 90%;
}

#usuarios_adicionales {
  text-align: center;
  border: none;
  width: 30px;
  font-size: 18px;
}

.planes_mensuales_precio span {
  font-size: 30px;
  position: relative;
  display: inline-block;
  bottom: 4px;
  left: -3px;
}

#factura_icono_dinero {
  left: 4px;
}

#btn_añadir_adminsat {
  margin: 10px;
  padding: 15px;
  border-radius: 70px;
  border: 1px solid rgba(48, 160, 199, 1);
  font-family: ubuntu;
  font-weight: bold;
  background-color: transparent;
  color: rgba(48, 160, 199, 1);
}

.remove_input_american {
  display: none;
}

.tarjeta_activa {
  transform: scale(1.4);
}

.tarjeta_inactiva {
  transform: scale(.7) !important;
  opacity: .3 !important;
}

#tarjeta_visa,
#tarjeta_master,
#tarjeta_american {
  transition: all .5s;
}

#seccion_tarjeta_label {
  height: 700px;
  transition: all .5s;
}

.rotar_flecha {
  transform: rotate(90deg) !important;
  transition: all .5s !important;
}
