#label-referencia {
  position: relative;
  left: -2px;
}

.cliente-referencia-new {
  position: relative;
  left: -1px;
  width: 620px;
}

.btn-cancelar-cliente {
  position: relative;
  left: 20px;
}

#errores-clientes-excel-rows { 
    overflow: auto;
    max-height: 200px;
}
