.codigo-qr{
	width: 135px !important;
	height: 135px !important;	
}

#busqueda-avanzada-div{
	margin-top: 10px;
}

#busqueda-avanzada-div .row{
	margin-bottom: 7px;
}

#new_factura, .edit_factura{
	margin-top: 20px;
}

.row-btns-busqueda-avanzada{
	margin-top: 20px;
}

.notas-fields{
	height: 140px !important;
	width: 500px;
}

.btn-margins{
	margin-left: 15px;
	margin-right: 15px;
}

.div-acciones-info{
	margin-top: 20px;
}

#addr-cliente{
	margin-top: 10px;
}

input.factura-concepto-input, select.factura-concepto-input {
    width: 120px;
}

#grid_conceptos td{
	vertical-align: middle;
	padding: 0;
	border: 1px solid #ccc;
	background-color: #FFF;
	background-clip: padding-box;
	outline-offset: -2px;
/*	border-top: none;
    border-right-color: rgb(204, 204, 204);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(204, 204, 204);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(204, 204, 204);
    border-left-style: solid;
    border-left-width: 1px;*/

	height: inherit;
}

#grid_conceptos th{
	display: inline;
	position: relative;
	border-bottom: none;
	background-color: transparent;
  color: #000;
}

#grid_conceptos tbody tr{
	height:31px;
	display: inline-block;
}

#grid_conceptos input:not(.impuesto){
	padding: 0;
	padding-left: 5px;
	height: 100%;
	width: 100%;
	border: none;
	outline: none;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

.icons{
	padding: 7px;
}

.flecha-articulo-grid{
	top: 50%;
	right: 0;
	padding-right: 3px;
 	font-size: smaller;
 	position: absolute;
 	transform: translateY(-50%);
}

.flecha-clave-grid{
	top: 50%;
	right: 0;
	padding-right: 2px;
 	font-size: smaller;
 	position: absolute;
 	transform: translateY(-50%);
}


.flecha-impuesto-grid{
	top: 50%;
	right: 0;
	padding-right:  	3px;
  font-size: smaller;
  position: absolute;
  transform: translateY(-50%);
}

.textarea{
	resize: none !important;
	overflow: hidden;
	padding: 0;
	width:  100%;
	height: 25px;
	line-height: 1;
	padding-top: 8px;
	padding-bottom: 0px;
	padding-left: 5px;
	border: none;
	outline: none;
	box-sizing:border-box !important;
	-webkit-box-sizing:border-box !important;
}

.cantidad{
	width: 80px;
}

.articulo{
	/*width: 155px;*/
}

.descripcion{
	/*width: 340px;*/
}

.unidad{
	width: 80px;
}

.precio-unitario{
	width: 125px;
}

.impuesto{
	width: 97px;
	padding: 0;
	padding-left: 5px;
	height: 100%;
	border: none;
	outline: none;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;	
}

.parcialidades{
	top: 30px;
	padding-left: 1px;
}

.parcialidad{
	padding-left: 8px;
	padding-right: 0px;
	width: 40px;
}

.customDE{
	top: 8px;
	left: 8px;
}

.label-nombre-comercial{
	padding-top: 7px;
	width: 160px !important;
}

.label-rfc{
	padding-top: 7px;
	width: 50px !important;
}

.label-cliente, .label-serie{
	padding-top: 6px;
    width: 80px !important;
}

.label-left {
	left: -10px;
}
.label-cancelacion{
	top: -10px;
}

.no-padding{
	padding: 0;
}

.no-margin{
	margin: 0;
}

#nuevo_producto{
	background-color: #CBDE73;
	position: relative;
	width: 1135px;
	height: 95px;
}

#row-producto-nuevo input{
	padding: 0 0 0 0;
	padding-left: 5px;
	height: 27px;
	border-radius: 4pt;
  	border: solid 2px #BFBFBF;
	box-sizing:content-box;
	-webkit-box-sizing:content-box;
	font-style: italic;
}

#row-producto-nuevo select {
  border-radius: 4pt;
  border: solid 2px #BFBFBF;
}

#row-producto-nuevo td{
	vertical-align: top;
	padding: 0 0 0 0;
}

#row-producto-nuevo tbody tr{
	height:33px;
	display: inline-block;
}

.cantidad-nuevo{
	width: 100%;
}

.articulo-nuevo{
	width: 100%;
}

.descripcion-nuevo{
	width: 100%;
}

.unidad-nuevo{
	width: 100%;
}

.precio-unitario-nuevo{
	width: 100%;
}

.impuesto-nuevo{
	width: 100%;
}

.img-num{
	width: 30px;
	float: right;
}

.setWidth-folio{
	max-width: 100px;
}

.setWidth-cliente{
	max-width: 230px;
}

.setWidth-descripcion{
	max-width: 250px;
}

.textarea-generada{
	min-height: 200px;
	/*resize: none;*/
}

.all-width{
	width: 100%;
}

.font-smaller{
	font-size: smaller;
}

.sort-icon{
	float: right;
	font-size: smaller;
	margin-top: 3px;
}

.nueva-factura{
	height: 50px;
	width: 210px;
}

.top-8{
	position: relative;
	top: 18px;
}

#total-table-tradicional td, #total-table-tradicional{
    border-right: none;
    border-left: none;
}

#total-table-moderna{
	border: 1px solid rgb(191, 191, 191);
}

#total-table-moderna td{
	border: 1px solid rgb(191, 191, 191) !important;
}


#table-factura-detalles td, #table-factura-detalles{
    border-left: none;
    border-right: none;
    width: 100%;
}

#datos-cliente-table td, #datos-cliente-table{
    border-left: none;
    border-right: none;
    width: 100%;
}

#articulos-table {
	border: 1px solid rgb(191, 191, 191);
	/*bottom: 1px solid;*/
}

#articulos-table th{
	border-left: 1px solid rgb(191, 191, 191);
	border-right: 1px solid rgb(191, 191, 191);
	padding-bottom: 5px;
}

/* #articulos-table td{
	padding-top: 5px;
} */

.tabla-impuestos th, .tabla-impuestos td {
	border-left: none !important;
	border-right: none !important;
	padding-bottom: 0px !important;
	font-size: 10px;
}


.tabla-impuestos{
	margin-top:5px!important;
	margin-bottom: 5px!important;
	margin:0px auto; 
	width:90%;
}
 .impuestos-td{
	width: 50%; 
	border-left: none !important;
	border-right: none !important;
	vertical-align:top; 
	padding-bottom:0px !important;
 }
/*#articulos-table , #articulos-table td, #articulos-table th{
    border-left: none;
    border-right: none;
}*/

.bitacora{
	width: 826px;
	height: 250px;
	overflow-y: auto;
	overflow-x: hidden;
}

.setWidth-descripcion-bitacora{
	max-width: 350px;
}

.color-factura-gris
{
	background: #C0C0C0;
}
.color-factura-rojo
{
	background: #FF0000;
}
#head-datos-cliente{
        background: #9999FF;
    }
.color-factura-azul
{
	background: #9999FF;
}
.color-factura-morado
{
	background: #800080;
	color: white;
}
.color-factura-negro
{
	background: #000000;
	color: #ffffff;
}
.color-factura-rosa
{
	background: #FF99FF;
}
.color-factura-amarillo
{
	background: #FFFF99;
}
.cadena-factura-tradicional
{
  font-size: 10.5px;
  font-weight: bold;
  line-height: normal;
  padding-left: 2px;
  padding-right: 2px;
  word-break: break-all;
  padding-top: 10px;
}
.titulo-cadena-tradicional
{
  margin-bottom: 2px;
}
.cantidad-letra-tradicional
{
	border-top: solid 1px;
	border-bottom: solid 1px;
	margin-bottom: 8px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.leyenda-superior{
	word-break: break-all
}
.label-facturas{
	text-align: right;
  	margin-bottom: 0;
	padding-top: 7px;
}

.plus-icon-cliente{
	color: #26a0c9;
  	font-size: x-large;
  	top: -4px;
}

.datos-cliente{
	background-color: #f2f2f2;
  	border: 2px solid #e4e4e4;
}

.prueba-gratis{
    width: 115px;
    height: 115px;
    margin-top: -22px;
}

.header-ver-factura{
  	border-bottom: 1px solid #e4e4e4;
}

#flecha_menu {
  position: absolute;
  z-index: 1060;
  display: none;
  max-width: 276px;
  padding: 1px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: left;
  background-color: #fff;
  background-clip: padding-box;
  white-space: normal;
  top: 197px;
  left: 0px;
  display: hidden;
	border: 0;
	min-width: 0 !important;
}

#popover-abono-text {
	overflow: visible;
  	-ms-text-overflow: ellipsis;
  	-o-text-overflow: ellipsis;
  	text-overflow: ellipsis;
  	white-space: normal;
  	width: inherit;
}

#grid-facturas-abono .popover {
	max-width: 500px;
}

.factura-fields {
	margin-bottom: 10px;
}

.factura-fields input, .factura-fields select{
	height: 31px;
}

.btn-factura {
	height: 40px;
	width: 200px;
}

.div-cliente-editar {
	margin-bottom: 5px;
}

.label-cliente-editar {
	margin-left: 28px;
}

.backgroud-white {
	background-color: white;
}

.banda-factura {
	position: absolute;
	z-index: 100;
}

.banda-factura img {
	height: 165px;
	width: 165px;
}

.grid-header {
	background-color: #26a0c9;
	color: #fff;
	display:inline-block;
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
	text-align: center;
	vertical-align: middle;
	position: relative;
	left: -9px;
}

.flecha-sort-grid {
	margin-top: 8px;
  margin-left: 5px;
  background-image: url(/images/site/mover-btn.png);
  background-repeat: no-repeat;
}

.typeahead.dropdown-menu{
	max-height: 200px;
  overflow: auto;
}

.flecha-abono, .flecha-abono:hover, .flecha-abono:focus {
	font-size: 40pt;
  color: #26a0c9;
  text-decoration: none;
}

.dark-gray-background {
		display: table-cell;
		background-color: hsl(0, 0%, 80%) !important;
		color: hsl(0, 0%, 0%);
		font-size: 14px;
		font-weight: bold;
		text-align: center;
		vertical-align: middle;
		height: 38px;
		width: 230px;
		padding: 8px 0 8px 0;
		margin-right: 3px;
		margin-bottom: 3px;
}

.light-gray-background {
		display: table-cell;
		background-color: hsl(0, 0%, 93%) !important;
		color: hsl(0, 0%, 0%);
		font-size: 14px;
		text-align: center;
		vertical-align: middle;
		height: 38px;
		width: 230px;
		padding: 8px 0 8px 0;
		margin-right: 3px;
		margin-bottom: 3px;
}

@keyframes lds-spinner {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-webkit-keyframes lds-spinner {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.lds-spinner {
	position: relative;
}

.lds-spinner div {
	left: 160px;
	top: 48px;
	position: absolute;
	-webkit-animation: lds-spinner linear 1s infinite;
	animation: lds-spinner linear 1s infinite;
	background: #ffaf2e;
	width: 12px;
	height: 24px;
	border-radius: 40%;
	-webkit-transform-origin: 6px 52px;
	transform-origin: 6px 52px;
}

.lds-spinner div:nth-child(1) {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-animation-delay: -0.916666666666667s;
	animation-delay: -0.916666666666667s;
}

.lds-spinner div:nth-child(2) {
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
	-webkit-animation-delay: -0.833333333333333s;
	animation-delay: -0.833333333333333s;
}

.lds-spinner div:nth-child(3) {
	-webkit-transform: rotate(60deg);
	transform: rotate(60deg);
	-webkit-animation-delay: -0.75s;
	animation-delay: -0.75s;
}

.lds-spinner div:nth-child(4) {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-animation-delay: -0.666666666666667s;
	animation-delay: -0.666666666666667s;
}

.lds-spinner div:nth-child(5) {
	-webkit-transform: rotate(120deg);
	transform: rotate(120deg);
	-webkit-animation-delay: -0.583333333333333s;
	animation-delay: -0.583333333333333s;
}

.lds-spinner div:nth-child(6) {
	-webkit-transform: rotate(150deg);
	transform: rotate(150deg);
	-webkit-animation-delay: -0.5s;
	animation-delay: -0.5s;
}

.lds-spinner div:nth-child(7) {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
	-webkit-animation-delay: -0.416666666666667s;
	animation-delay: -0.416666666666667s;
}

.lds-spinner div:nth-child(8) {
	-webkit-transform: rotate(210deg);
	transform: rotate(210deg);
	-webkit-animation-delay: -0.333333333333333s;
	animation-delay: -0.333333333333333s;
}

.lds-spinner div:nth-child(9) {
	-webkit-transform: rotate(240deg);
	transform: rotate(240deg);
	-webkit-animation-delay: -0.25s;
	animation-delay: -0.25s;
}

.lds-spinner div:nth-child(10) {
	-webkit-transform: rotate(270deg);
	transform: rotate(270deg);
	-webkit-animation-delay: -0.166666666666667s;
	animation-delay: -0.166666666666667s;
}

.lds-spinner div:nth-child(11) {
	-webkit-transform: rotate(300deg);
	transform: rotate(300deg);
	-webkit-animation-delay: -0.083333333333333s;
	animation-delay: -0.083333333333333s;
}

.lds-spinner div:nth-child(12) {
	-webkit-transform: rotate(330deg);
	transform: rotate(330deg);
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
}

.lds-spinner {
	width: 50px !important;
	height: 50px !important;
	-webkit-transform: translate(-50px, -40px) scale(0.3) translate(50px, 50px);
	transform: translate(-50px, -40px) scale(0.3) translate(50px, 50px);
}

.btn-descarga-busqueda {
	display:none; 
	white-space:normal !important; 
	word-wrap: break-word; 
	word-break: normal;
}

.animated {
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}

.solicitud_procesada_css{
	display: initial!important;
}
.solicitud_procesada_css p{
	padding: 15px;
}
#icono_upload{
	margin-top: 5px;
	width: 25px!important;
}
.tabla-archivos-cancelacion td {
	text-align: center;
}