  @media print{               
    .page-break {  
      page-break-after: always;  
    }    
  }  
  .page-break {  
    page-break-after: always;  
  }    
  .busqueda-avanzada-row div.row  {
    margin-bottom: 10px;
  }


  #btn-descargar-factura, #btn-pdf-factura{
    width: 100px;
    margin-right: 55px;
  }

  .col-proveedor{
    width: 539px;
  }

  .col-rfc{
    width: 280px;
  }
  
  .concat div:not(.popover) {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: inherit;
  }

  .popover{
    overflow: visible;
  }

  .arrow{
    overflow: visible;
  }

  .label-rfc, .label-serie{
    padding-top: 6px;
    width: 80px !important;
  }
  
  .recibida
  {
    font-weight: 900;
  }

  .setWidth {
    max-width: 100px;
  }
  
  .total-resultados{
    color: #428bca;
  }
  .pagination-color{
    color: #428bca;
  }

  .factura{
    /*border: 1px solid;*/
    margin-left: 53px;
    margin-top: 62px; 
    margin-right: 53px;
    font-size: 11px;

  }
  #articulos-table, #total-table{
    width: 100%;
  }
  #datos-bancarios{
    list-style-type: none;
    padding-left: 14px;
  }
  ul{
    list-style-type: none;
    padding-left: 0px;
  }
  #cadena-sat-div, #sello-div, #sello-sat-div{
    border: 1px solid rgb(191, 191, 191);
    /*height: 42px;*/
    padding-bottom: 10px;
  }
  .cadena{
    font-size: 7px;
    padding-left: 2px;
    padding-right: 2px;
    word-break: break-all;
  }
  .titulo-sello{
    font-size: 10px;
  }
  #cadena-sat-div p, #sello-div p, #sello-sat-div p{
    margin-bottom: 0px;
  }
  .right {
    text-align: right;
    padding-right: 5px;
  }
  .center{
    text-align: center;
  }
  .datos-cliente-titulo{
    font-size: 15px;
  }
  .tipo-titulo{
    font-size: 12pt;
  }
  #qr{
    text-align: right;    
  }
  .derecha{
    text-align: right;    
  }
  .logo{
    width: 100%;
  }
  #qr img{
    width: 115px;    
  }
  .top-20 {
  position: relative;
  top: 20px;
}


.btn-nueva-fn{
  background: #e8af47;
}
.btn-nueva-fn:hover {
  background: #bb892c;
}
.opciones_sol_cancelacion{
  display: none;
}
.por_cancelar{
  background: #fff3cd;
}
.banner_cancelacion{
  position: absolute;
  height: auto;
  width: 100%;
}

.valid-mail{
  display: none;
  color: red;
  padding: 10px;
  font-size: 11px;
}