#gasto-nuevo-proveedor-div, #gasto-nueva-categoria-div
{
	display:none;
}

#gasto-agregar-proveedor, #gasto-agregar-categoria
{
	margin-left: -25px;
}
.gasto-nuevo-botnes
{
	margin-top: 27px;
}
#new_gasto > .row > div
{
	margin-right: 5px;
}
.gastos-link-agregar
{
	padding-left: 28px;
}
#gastos-extras
{
	margin-top: 0px	
}

#gastos-link-busqueda-avanzada, #gastos-link-limpiar-busqueda
{
	padding-left: 0;	
}

.input-size-right
{
	width: 180px; 
	float: right !important;
}

.input-impuestos
{
	width: 140px !important; 
	float: right !important;
}

.no-padding-left{
	padding-left: 0px;
}

.no-padding-right{
	padding-right: 0px;
}

.btn-nuevo-gasto{
    border: 2px solid #fff !important;
    height: 50px;
    width: 210px;
    top: 8px;
    left: 17px;
    position: relative;
    cursor: pointer;
}

.span-calendar{
	cursor: pointer;
}

.btn-remove{
	height: 31px;
}

.padding-LR{
	margin-left: 5px;
	margin-right: 5px;
}