.busquedas {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    /*background-color: #F9F9F9;
    border: 1px solid #BDBDBD;*/
}